<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>

<plugin>
  <!-- For possible extension points see
 
  http://help.eclipse.org/indigo/index.jsp?
  topic=%2Forg.eclipse.platform.doc.isv%2Freference%2Fextension-points%2Findex.html

  -->
  
  <extension
        point="org.eclipse.ui.startup">
     <startup class="eu.compassresearch.ide.recoverymechanismsverification.RMVStartup"> </startup>
  </extension>
  <extension
        point="org.eclipse.ui.views"> <category 
           id="eu.compassresearch.ide.recoverymechanismsverification"
           name="Recovery Mechanisms Verification">
        </category>
        <view id="eu.compassresearch.ide.recoverymechanismsverification.view.VerificationResultsView"
                name="Verification results view"
                icon="icons\view.gif"
             category="eu.compassresearch.ide.recoverymechanismsverification"
                class="eu.compassresearch.ide.recoverymechanismsverification.view.VerificationResultsView"/>
  </extension>
  
  
</plugin>
