<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="eu.compassresearch.ide.builders.cml.IncrementalCmlProjectBuilder"
         name="CML Builder"
         point="org.eclipse.core.resources.builders">
      <builder
            callOnEmptyDelta="false"
            hasNature="false"
            isConfigurable="true">
         <run
               class="eu.compassresearch.ide.builders.cml.IncrementalCmlProjectBuilder">
         </run>
      </builder>
   </extension>

</plugin>
