<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            base-type="org.eclipse.core.runtime.text"
            file-extensions="cml"
            id="content-type1"
            name="CML Content Type"
            priority="high">
      </content-type>
   </extension>
   <extension
         point="org.overture.ide.core.language">
      <Language
            dialect="CML"
            name="CML"
            nature="eu.compassresearch.ide.cml.core.nature">
         <ContentType
               id="eu.compassresearch.ide.cml.core.content-type1">
         </ContentType>
      </Language>
   </extension>
   <extension
         id="nature"
         name="CML Project Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="eu.compassresearch.ide.cml.core.CmlProjectNature">
         </run>
         <builder id="eu.compassresearch.ide.cml.ui.cmlbuilder"/>
      </runtime>
   </extension>

</plugin>
