<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>

<plugin>
  <!-- For possible extension points see
 
  http://help.eclipse.org/indigo/index.jsp?
  topic=%2Forg.eclipse.platform.doc.isv%2Freference%2Fextension-points%2Findex.html

  -->
  <!--icon="icons/cview16/cml_file_tsk.png"-->
  <extension point="org.eclipse.ui.views">
    <view 
        id="eu.compassresearch.ide.cml.interpreter_plugin.CmlInterpreterView"
        name="COMPASS Interpreter View"
        category="compass_eu.compassresearch.ide.cml.ui.category"
        
        class="eu.compassresearch.ide.cml.interpreter_plugin.CmlInterpreterView" />
        
        <category
        	id="compass_eu.compassresearch.ide.cml.ui.category"
        	name="COMPASS"/>
  </extension>
  
  <!-- Declare launch configuration type -->
	<extension point="org.eclipse.debug.core.launchConfigurationTypes">
		<launchConfigurationType
        delegate="eu.compassresearch.ide.cml.interpreter_plugin.CmlLaunchConfigurationDelegate"
        id="eu.compassresearch.ide.cml.interpreter_plugin.launchConfigurationType"
        modes="debug,run"
        name="Cml Model"
        public="true">
		</launchConfigurationType>
	</extension>
	
	<!-- Add the launch config group to the launch dialog -->
	<extension point="org.eclipse.debug.ui.launchConfigurationTabGroups">
		<launchConfigurationTabGroup
			class="eu.compassresearch.ide.cml.interpreter_plugin.CmlLaunchConfigurationTabGroup"
			description="COMPASS Launch Tab" 
			id="eu.compassresearch.ide.cml.interpreter_plugin.launchConfigurationTabGroup"
			type="eu.compassresearch.ide.cml.interpreter_plugin.launchConfigurationType">
			<launchMode 
                  mode="debug"
                  perspective="org.eclipse.debug.ui.DebugPerspective"
                  description="Debug Cml Model">
            </launchMode>
            <launchMode
                  mode="run"
                  description="Run Cml Model">
            </launchMode>
		</launchConfigurationTabGroup>
	</extension>
	
	<!-- Shoutcut for launching project. Extends the Debug and Run context menu in the CML Explorer -->
 	<extension point="org.eclipse.debug.ui.launchShortcuts">
	  	<shortcut
	  		id="eu.compassresearch.ide.cml.interpreter_plugin.CmlShortcut"
	        class="eu.compassresearch.ide.cml.interpreter_plugin.CmlApplicationLaunchShortcut"
	        label="Cml Application"
	        modes="debug, run, profile"
	        category="compass_eu.compassresearch.ide.cml.ui.category"
	        description="Launch a CML model">
	    <description
	     description="Runs a local CML model"
	     mode="run">
	    </description>
	    <description
		     description="Debugs a local CML model"
		     mode="debug">
	    </description>
	    <contextualLaunch>
         <contextLabel mode="run" label="Run CML model" />
         <contextLabel mode="debug" label="Debug CML model" />
         <enablement >
           <with variable="selection">
           <count value="1"/>
          <iterate>
            <adapt type="org.eclipse.core.resources.IResource">
                <and>
                <test property="org.eclipse.core.resources.name" value="*.cml"/>
            </and>
        </adapt>
          </iterate>
           </with>
       </enablement>
     </contextualLaunch>
	    <configurationType
	    	id="eu.compassresearch.ide.cml.interpreter_plugin.launchConfigurationType">
	  	</configurationType>
	  	</shortcut>
 	</extension>
 
  
</plugin>
