<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>

<plugin>
  <!-- For possible extension points see
 
  http://help.eclipse.org/indigo/index.jsp?
  topic=%2Forg.eclipse.platform.doc.isv%2Freference%2Fextension-points%2Findex.html

  -->
  <!--icon="icons/cview16/cml_file_tsk.png"-->
  <extension point="org.eclipse.ui.views">
    <view 
        id="eu.compassresearch.ide.cml.interpreter_plugin.CmlInterpreterView"
        name="COMPASS Interpreter View"
        category="compass_eu.compassresearch.ide.cml.ui.category"
        
        class="eu.compassresearch.ide.cml.interpreter_plugin.CmlInterpreterView" />
        
        <category
        	id="compass_eu.compassresearch.ide.cml.ui.category"
        	name="COMPASS"/>
  </extension>
  
  <!-- Declare launch configuration type -->
	<extension point="org.eclipse.debug.core.launchConfigurationTypes">
		<launchConfigurationType
        delegate="eu.compassresearch.ide.cml.interpreter_plugin.CmlLaunchConfigurationDelegate"
        id="eu.compassresearch.ide.cml.interpreter_plugin.launchConfigurationType"
        modes="debug,run"
        name="Cml Model">
		</launchConfigurationType>
	</extension>
	
	<!-- Add the launch config group to the launch dialog -->
	<extension point="org.eclipse.debug.ui.launchConfigurationTabGroups">
		<launchConfigurationTabGroup
			class="eu.compassresearch.ide.cml.interpreter_plugin.CmlLaunchConfigurationTabGroup"
			description="COMPASS Launch Tab" 
			id="eu.compassresearch.ide.cml.interpreter_plugin.launchConfigurationTabGroup"
			type="eu.compassresearch.ide.cml.interpreter_plugin.launchConfigurationType">
			<launchMode 
                  mode="debug"
                  perspective="org.eclipse.debug.ui.DebugPerspective"
                  description="%localCmlApplicationTabGroupDescription.debug">
            </launchMode>
            <launchMode
                  mode="run"
                  perspective="org.eclipse.debug.ui.DebugPerspective"
                  description="%localCmlApplicationTabGroupDescription.run">
            </launchMode>
		</launchConfigurationTabGroup>
	</extension>
	
	<!-- Shoutcut for launching project. Extends the Debug and Run context menu in the VDM Explorer -->
 <extension point="org.eclipse.debug.ui.launchShortcuts">
  <shortcut
        class="eu.compassresearch.ide.cml.interpreter_plugin.CmlApplicationLaunchShortcut"
        id="eu.compassresearch.ide.cml.interpreter_plugin.CmlShortcut"
        label="Cml Application"
        modes="debug,run">
     <contextualLaunch>
           <enablement>
             <with variable="selection">
             <count value="1"/>
                <iterate>
                   <or>
                      <adapt
                            type="org.overture.ide.core.resources.IVdmProject">
                         <test
                               property="org.overture.ide.core.resources.dialect"
                               value="VDM_PP">
                         </test>
                      </adapt>
                   </or>
                </iterate>
           	</with>
           </enablement>
  		 </contextualLaunch>
     <configurationType
           id="eu.compassresearch.ide.cml.interpreter_plugin.launchConfigurationType">
     </configurationType>
  </shortcut>
 </extension>
 
  
</plugin>
