<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         id="eu.compassresearch.ide.cml.platform.product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.ui.ide.workbench"
            name="CML Compass Project">
         <property
               name="appName"
               value="CML Compass Project">
         </property>
         
          <property
             name="startupProgressRect"
             value="20,235,415,10">
	  </property>
	  <property
	      name="startupMessageRect"
	      value="75,250,300,15">
	  </property>
	  <property
	      name="appName"
	      value="COMPASS Tools">
	  </property>
	  <property
	      name="preferenceCustomization"
	      value="plugin_customization.ini">
	  </property>
	  <property
	      name="startupForegroundColor"
	      value="FFFFFF">
	  </property>
	  <property
	  	name="windowImages"
	  	value="icons/compassToolIcon.png">
	  </property>
      </product>
   </extension>
    
  
 <extension
         point="org.eclipse.ui.splashHandlers">
      <splashHandler
            class="eu.compassresearch.ide.platform.splash.SplashHandler"
            id="eu.compassresearch.ide.platform.splash">
      </splashHandler>
      <splashHandlerProductBinding
            productId="eu.compassresearch.ide.platform.splash"
            splashId="eu.compassresearch.ide.platform.splash">
      </splashHandlerProductBinding>
   </extension>

 
</plugin>
