<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="4.2"?>
<plugin>
<!-- Collaboration menu in navigator -->
<extension point="org.eclipse.ui.menus">
	<menuContribution
         allPopups="false"
         locationURI="popup:eu.compassresearch.ide.ui.CmlNavigator">
	 <dynamic 
			class="eu.compassresearch.ide.collaboration.menu.CollabRosterMenuContributionItem" 
			id="eu.compassresearch.ide.collaboration">
	</dynamic>
	</menuContribution>		
</extension>


<!-- ECF setup -->
<extension
      point="org.eclipse.ecf.start">
      <run
            class="eu.compassresearch.ide.collaboration.ECFInitiation">
      </run>
 </extension>

<!-- Collaboration View -->
<extension
      id="eu.compassresearch.ide.collaboration.ui.view"
      name="Collaborative Modelling"
      point="org.eclipse.ui.views">
      	<category
			id="eu.compassresearch.ide.ui.category"
			name="Symphony"/>
	  <view
         name="Collaborative Modelling"
         icon="icons/icon_collaboration.gif"
         class="eu.compassresearch.ide.collaboration.ui.view.CollaborationView"
         id="eu.compassresearch.ide.collaboration.ui.view.CollaborationView">
     </view>
</extension>

<extension point = "org.eclipse.ui.viewActions">
      <viewContribution 
         id="eu.compassresearch.ide.collaboration.ui.view.CollaborationView.Connect" 
         targetID="eu.compassresearch.ide.collaboration.ui.view.CollaborationView">        
	   <action id="eu.compassresearch.ide.collaboration.ui.view.CollaborationView.connectAction" 
              class="org.eclipse.ecf.internal.ui.actions.SelectProviderAction" enablesFor="*"
              label="Connect to IM Provider" 
	      	  menubarPath="additions"> 
	   </action>
      </viewContribution>
</extension>
</plugin>