<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="4.2"?>
<plugin>

<extension point="org.eclipse.ui.menus">
	<menuContribution locationURI="popup:org.eclipse.ui.navigator.ProjectExplorer#PopupMenu?after=additions">
	<dynamic 
		class="eu.compassresearch.ide.collaboration.menu.CollabRosterMenuContributionItem" 
		id="eu.compassresearch.ide.collaboration">
	</dynamic>
</menuContribution>
</extension>


<extension point="org.eclipse.ui.menus">
  <menuContribution locationURI="popup:org.eclipse.ui.navigator.ProjectExplorer#PopupMenu?after=additions">
    <dynamic
              class="eu.compassresearch.ide.collaboration.menu.CollaborationTest"
              id="eu.compassresearch.ide.collaboration.menu.CollaborationTest">
    </dynamic>
  </menuContribution>
</extension>

<extension
         point="org.eclipse.ecf.start">
      <run
            class="eu.compassresearch.ide.collaboration.ECFInitiation">
      </run>
 </extension>


</plugin>

	<!--	<menuContribution
         allPopups="false"
         locationURI="popup:eu.compassresearch.ide.ui.CmlNavigator">
			<menu
              id="eu.compassresearch.ide.collaboration"
              label="Collaboration">
				<command
            		commandId="eu.compassresearch.ide.pog.generatepos"
            		label="Collab"
            		style="push"
            		tooltip="Collaborate">
				</command>
				<visibleWhen>
					<iterate ifEmpty="false" >
						<or>
							<adapt type="org.eclipse.core.resources.IProject">
								<test
                       				property="org.eclipse.core.resources.projectNature"
                       				value="eu.compassresearch.ide.core.cmlnature">
								</test>
							</adapt>
							<test
                                forcePluginActivation="true"
                                property="org.overture.ide.core.resources.dialect"
                                value="CML">
							</test>
						</or>
					</iterate>
				</visibleWhen>
			</menu>
		</menuContribution> !-->
		
		