<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.overture.ide.core.buildParticipant">
      <builder
            class="eu.compassresearch.ide.builders.cml.BuilderCml"
            nature="eu.compassresearch.ide.core.nature">
      </builder>
   </extension>

</plugin>
