<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>

<plugin>



   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="eu.compassresearch.ide.cml.ui.editor.core.CmlEditor"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            default="true"
            icon="icons/cview16/cml_file_tsk.png"
            id="eu.compassresearch.ide.cml.ui.editor"
            name="CML Editor">
         <contentTypeBinding
               contentTypeId="eu.compassresearch.ide.cml.core.content-type1">
         </contentTypeBinding>
      </editor>
   </extension>
   
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="compass_eu.compassresearch.ide.cml.ui.category"
            class="eu.compassresearch.ide.cml.ui.wizard.NewCmlProjectWizard"
            finalPerspective="org.overture.ide.ui.perspective"
            icon="icons/cview16/cml_file_tsk.png"
            id="eu.compassresearch.ide.CmlProjectWizard"
            name="%newProjectWizardName"
            preferredPerspectives="org.overture.ide.ui.perspective"
            project="true">

      </wizard>

      <primaryWizard

            id="eu.compassresearch.ide.CmlProjectWizard">

      </primaryWizard>
      <wizard
            category="compass_eu.compassresearch.ide.cml.ui.category"
            class="eu.compassresearch.ide.cml.ui.wizard.NewCmlFileWizard"
            icon="icons/cview16/cml_file_tsk.png"
            id="eu.compassresearch.ide.cml.ui.newcmlfilewizard"
            name="CML File">
      </wizard>
      
       <wizard
            category="compass_eu.compassresearch.ide.cml.ui.category"
            class="eu.compassresearch.ide.cml.ui.wizard.NewCmlClassWizard"
            icon="icons/cview16/cml_file_tsk.png"
            id="eu.compassresearch.ide.cml.ui.newcmlclasswizard"
            name="CML Class">
      </wizard>
      
      
       <wizard
            category="compass_eu.compassresearch.ide.cml.ui.category"
            class="eu.compassresearch.ide.cml.ui.wizard.NewCmlProcessWizard"
            icon="icons/cview16/cml_file_tsk.png"
            id="eu.compassresearch.ide.cml.ui.newcmlprocesswizard"
            name="CML Process">
      </wizard>
      
      
      <category
            id="compass_eu.compassresearch.ide.cml.ui.category"
            name="COMPASS">
      </category>

   </extension>
   <extension
         point="org.eclipse.ui.ide.projectNatureImages">
      <image
            icon="icons/ovr16/cml_ovr.gif"
            id="eu.compassresearch.ide.cml.core.nature.image"
            natureId="eu.compassresearch.ide.cml.core.nature">
      </image>
   </extension>
   
   
    <extension point="org.eclipse.ui.views">
    <view 
        id="eu.compassresearch.ide.cml.ui.Sanitizer"
        name="COMPASS UI Debug Sanitizer"
        category="compass_eu.compassresearch.ide.cml.ui.category"
        icon="icons/cview16/cml_file_tsk.png"
        class="eu.compassresearch.ide.cml.ui.Sanitizer" />
        
        <category
        	id="compass_eu.compassresearch.ide.cml.ui.category"
        	name="COMPASS"/>
  </extension>
   
   
   <extension
         id="cmlbuilder"
         point="org.eclipse.core.resources.builders">
      <builder
            callOnEmptyDelta="true"
            hasNature="false"
            isConfigurable="false"
            supportsConfigurations="false">
         <run
               class="eu.compassresearch.ide.cml.ui.builder.CmlIncrementalBuilder">
         </run>
      </builder>
   </extension>
   <extension
         id="id1"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="eu.compassresearch.ide.cml.core.CmlProjectNature">
         </run>
      </runtime>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="eu.compassresearch.ide.cml.ui.actionSet"
            label="Sample Action Set"
            visible="true">
         <menu
               id="POGMenu"
               label="POG&amp;Menu">
            <separator
                  name="POGGroup">
            </separator>
         </menu>
         <action
               class="eu.compassresearch.ide.cml.ui.actions.POGSampleAction"
               icon="icons/pog_action.png"
               id="eu.compassresearch.ide.cml.ui.actions.POGSampleAction"
               label="&amp;POG Test Run"
               menubarPath="POGMenu/POGGroup"
               toolbarPath="POGGroup"
               tooltip="POG Test Run">
         </action>
      </actionSet>
   </extension>

 

</plugin>
