<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="4.2"?>

<plugin>

<extension
         point="org.eclipse.ui.perspectives">
		<perspective
            class="eu.compassresearch.ide.refinementtool.PerspectiveFactory"
            icon="icons/ref_icon.png"
            id="eu.compassresearch.ide.refinementtool.ref-perspective"
            name="Refinement">
		</perspective>
	</extension>
<extension
      point="org.eclipse.ui.menus">
   <menuContribution
         locationURI="popup:#TextEditorContext?after=additions"> <!-- menu:org.eclipse.ui.main.menu?after=additions -->
      <menu
            id="eu.compassresearch.ide.refinementtool.menus.refineMenu"
            label="Refinement"
            mnemonic="M">
         <command
               commandId="eu.compassresearch.ide.refinementtool.commands.refine"
               id="eu.compassresearch.ide.refinementtool.menus.refine"
               mnemonic="S">
         </command>
         <visibleWhen checkEnabled="false">	
            <and>
	            <with variable="activeWorkbenchWindow.activePerspective">
    	            <equals value="eu.compassresearch.ide.refinementtool.ref-perspective"/>
        	    </with>
            	<with variable="activeEditorId">
                	   <equals value="eu.compassresearch.ide.ui.editor"/>
            	</with>
            </and>
         </visibleWhen>
         <dynamic class="MenuPopulationClass"
                id="MenuPopulation"/>
      </menu>
   </menuContribution>

<!--
   <menuContribution
         locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
      <toolbar
            id="eu.compassresearch.ide.refinementtool.toolbars.refineToolbar">
         <command
               commandId="eu.compassresearch.ide.refinementtool.commands.refine"
               icon="icons/ref_icon.png"
               id="eu.compassresearch.ide.refinementtool.toolbars.refine"
               tooltip="Say hello world">
         </command>
      </toolbar>
   </menuContribution>
-->
   
</extension>

	<extension
         point="org.eclipse.ui.perspectiveExtensions">
		<perspectiveExtension
            targetID="eu.compassresearch.ide.refinementtool.ref-perspective">
			<view
               id="eu.compassresearch.ide.ui.CmlNavigator"
               minimized="false"
               ratio="0.20"
               relationship="left"
               relative="org.eclipse.ui.editorss"
               visible="true">
			</view>
			<view
               id="eu.compassresearch.ide.refinementtool.RefineLawView"
               minimized="false"
               ratio="0.70"
               relationship="right"
               relative="org.eclipse.ui.editorss"
               visible="true">
			</view>
			<view
               id="eu.compassresearch.ide.refinementtool.POsTable"
               minimized="false"
               ratio="0.40"
               relationship="bottom"
               relative="eu.compassresearch.ide.refinementtool.RefineLawView"
               visible="true">
			</view>
			<view
               id="eu.compassresearch.ide.refinementtool.PoDetail"
               minimized="false"
               ratio="0.50"
               relationship="bottom"
               relative="eu.compassresearch.ide.refinementtool.POsTable"
               visible="true">
			</view>
			
       </perspectiveExtension>
   </extension>
       

<extension
      point="org.eclipse.ui.commands">
   <category
         id="eu.compassresearch.ide.refinementtool.commands.refCommands"
         name="Refinement">
   </category>
   <command
         categoryId="eu.compassresearch.ide.refinementtool.commands.refCommands"
         id="eu.compassresearch.ide.refinementtool.commands.refine"
         name="Refine">
   </command>
   <command
         categoryId="eu.compassresearch.ide.refinementtool.commands.refCommands"
         id="eu.compassresearch.ide.refinementtool.commands.refineApply"
         name="Apply Refine">
   </command>
</extension>
<extension
      point="org.eclipse.ui.handlers">
   <handler
         class="eu.compassresearch.ide.refinementtool.handlers.RefineHandler"
         commandId="eu.compassresearch.ide.refinementtool.commands.refine">
   </handler>
   <handler
         class="eu.compassresearch.ide.refinementtool.handlers.RefineApplyHandler"
         commandId="eu.compassresearch.ide.refinementtool.commands.refineApply">
   </handler>
</extension>
<extension
      point="org.eclipse.ui.bindings">
   <key
         commandId="eu.compassresearch.ide.refinementtool.commands.refine"
         contextId="org.eclipse.ui.contexts.window"
         schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
         sequence="M1+6">
   </key>
</extension>

	<extension
         point="org.eclipse.ui.views">
		<category
			id="eu.compassresearch.ide.ui.category"
			name="Symphony"/>
		<view
            category="eu.compassresearch.ide.ui.category"
            class="eu.compassresearch.ide.refinementtool.view.RefineLawView"
            icon="icons/ref_icon.png"
            id="eu.compassresearch.ide.refinementtool.RefineLawView"
            name="Refinement Laws">
		</view>
		<view
            category="eu.compassresearch.ide.ui.category"
            class="eu.compassresearch.ide.pog.view.PoDetailView"
            icon="icons/ref_icon.png"
            id="eu.compassresearch.ide.refinementtool.PoDetail"
            name="CML RPO Details">
		</view>
		<view
            category="eu.compassresearch.ide.ui.category"
            class="eu.compassresearch.ide.pog.view.PoListView"
            icon="icons/ref_icon.png"
            id="eu.compassresearch.ide.refinementtool.POsTable"
            name="CML RPO List">
		</view>


	</extension>


</plugin>
