<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="eu.compassresearch.ide.rttplugin.PerspectiveFactory"
            icon="icons/rtt-mbt-small.png"
            id="eu.compassresearch.ide.rttplugin.rtt-perspective"
            name="RttPerspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="eu.compassresearch.ide.rttplugin.rtt-perspective">
         <view
               id="eu.compassresearch.ide.rttmbt.RttMbtProjectExplorer"
               minimized="false"
               ratio="0.25"
               relationship="left"
               relative="org.eclipse.ui.editorss"
               visible="true">
         </view>
         <view
               id="eu.compassresearch.ide.rttplugin.ConsoleView"
               minimized="false"
               ratio="0.80"
               relationship="bottom"
               relative="org.eclipse.ui.editorss"
               visible="true">
         </view>
         <view
               id="eu.compassresearch.ide.rttplugin.ProgressView"
               minimized="false"
               ratio="0.75"
               relationship="right"
               relative="org.eclipse.ui.editorss"
               visible="true">
         </view>
         <view
               id="org.eclipse.ui.views.ContentOutline"
               minimized="false"
               ratio="0.75"
               relationship="top"
               relative="eu.compassresearch.ide.rttplugin.ProgressView"
               visible="true">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="eu.compassresearch.ide.ui.category"
            class="eu.compassresearch.ide.rttplugin.RttMbtConsoleView"
            icon="icons/rtt-mbt-small.png"
            id="eu.compassresearch.ide.rttplugin.ConsoleView"
            name="Console"
            restorable="true">
      </view>
      <view
            category="eu.compassresearch.ide.ui.category"
            class="eu.compassresearch.ide.rttplugin.RttMbtProgressView"
            icon="icons/rtt-mbt-small.png"
            id="eu.compassresearch.ide.rttplugin.ProgressView"
            name="ProgressView"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            category="eu.compassresearch.ide.ui.category"
            class="eu.compassresearch.ide.rttplugin.RttMbtProjectExplorer"
            icon="icons/rtt-mbt-small.png"
            id="eu.compassresearch.ide.rttmbt.RttMbtProjectExplorer"
            name="ProjectExplorer"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewerContentBinding
            viewerId="eu.compassresearch.ide.rttmbt.RttMbtProjectExplorer">
         <includes>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resourceContent">
            </contentExtension>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resources.filters.*">
            </contentExtension>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resources.linkHelper">
            </contentExtension>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resources.workingSets">
            </contentExtension>
         </includes>
      </viewerContentBinding>
      <viewerActionBinding
            viewerId="eu.compassresearch.ide.rttmbt.RttMbtProjectExplorer">
         <includes>
            <actionExtension
                  pattern="org.eclipse.ui.navigator.resources.*">
            </actionExtension>
         </includes>
      </viewerActionBinding>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="compass_eu.compassresearch.ide.ui.category"
            class="eu.compassresearch.ide.rttplugin.RttMbtComponentWizard"
            icon="icons/rtt-mbt-small.png"
            id="eu.compassresearch.ide.rttplugin.RttMbtComponentWizard"
            name="RTT-MBT Project">
      </wizard>
      <category
            id="RT-Tester"
            name="RT-Tester"
            parentCategory="compass_eu.compassresearch.ide.ui.category">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="compass_eu.compassresearch.ide.ui.category"
            class="eu.compassresearch.ide.rttplugin.RttMbtPreferencesPage"
            id="eu.compassresearch.ide.rttplugin.RttMbtPreferencesMainPage"
            name="RT-Tester">
      </page>
      <page
            category="eu.compassresearch.ide.rttplugin.RttMbtPreferencesMainPage"
            class="eu.compassresearch.ide.rttplugin.RttMbtPreferencesServerPage"
            id="eu.compassresearch.ide.rttmbt.RttMbtPreferencesServerPage"
            name="Server">
      </page>
      <page
            category="eu.compassresearch.ide.rttplugin.RttMbtPreferencesMainPage"
            class="eu.compassresearch.ide.rttplugin.RttMbtPreferencesProjectPage"
            id="eu.compassresearch.ide.rttmbt.RttMbtPreferencesProjectPage"
            name="Project">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.eclipse.core.internal.resources.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="eu.compassresearch.ide.rttplugin.RttMbtPropertyTester"
            id="eu.compassresearch.ide.rttplugin.RttMbtPropertyTester"
            namespace="eu.compassresearch.ide.rttplugin.RttMbtPropertyTester"
            properties="isRttMbtProject, isTestGenerationContext, isRttTestprocedure"
            type="java.lang.Object">
      </propertyTester>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            description="RT-Tester Model Based Testing Commands"
            id="eu.compassresearch.ide.rttplugin.RttMbtCommands"
            name="RTT-MBT">
      </category>
      <command
            defaultHandler="eu.compassresearch.ide.rttplugin.RttMbtNewProject"
            id="eu.compassresearch.ide.rttplugin.RttMbtNewProject"
            name="New Project">
      </command>
      <command
            defaultHandler="eu.compassresearch.ide.rttplugin.RttMbtAddProject"
            id="eu.compassresearch.ide.rttplugin.RttMbtAddProject"
            name="Add Project">
      </command>
      <command
            defaultHandler="eu.compassresearch.ide.rttplugin.RttMbtAbort"
            id="eu.compassresearch.ide.rttplugin.RttMbtAbort"
            name="Abort Current Task">
      </command>
      <command
            defaultHandler="eu.compassresearch.ide.rttplugin.RttMbtRetrieveFileOrDirectory"
            id="eu.compassresearch.ide.rttplugin.RttMbtPullFromServer"
            name="Pull from Server">
      </command>
      <command
            defaultHandler="eu.compassresearch.ide.rttplugin.RttMbtSendFileOrDirectory"
            id="eu.compassresearch.ide.rttplugin.RttMbtPushToServer"
            name="Push to Server">
      </command>
      <command
            defaultHandler="eu.compassresearch.ide.rttplugin.RttMbtDeleteFile"
            id="eu.compassresearch.ide.rttplugin.DeleteLocalAndServer"
            name="Delete RTT-MBT Resource">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="eu.compassresearch.ide.rttplugin.RttMbtGenerateTest"
            commandId="eu.compassresearch.ide.rttplugin.RttMbtGenerateTest">
         <activeWhen>
            <with
                  variable="eu.compassresearch.ide.rttmbt.IsGenerationContextTP">
               <equals
                     value="truumpel">
               </equals>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="eu.compassresearch.ide.rttplugin.RttMbtGenerateSimulation"
            commandId="eu.compassresearch.ide.rttplugin.RttMbtGenerateSimulation">
         <activeWhen>
            <with
                  variable="eu.compassresearch.ide.rttmbt.IsGenerationContextTP">
               <equals
                     value="truumpel">
               </equals>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="eu.compassresearch.ide.rttplugin.RttMbtCleanRttTestProcedure"
            commandId="eu.compassresearch.ide.rttplugin.RttMbtCleanTest">
         <activeWhen>
            <with
                  variable="eu.compassresearch.ide.rttmbt.IsExecutionContextTP">
               <equals
                     value="truumpel">
               </equals>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="eu.compassresearch.ide.rttplugin.RttMbtCompileRttTestProcedure"
            commandId="eu.compassresearch.ide.rttplugin.RttMbtCompileTest">
         <activeWhen>
            <with
                  variable="eu.compassresearch.ide.rttmbt.IsExecutionContextTP">
               <equals
                     value="truumpel">
               </equals>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="eu.compassresearch.ide.rttplugin.RttMbtRunRttTestProcedure"
            commandId="eu.compassresearch.ide.rttplugin.RttMbtRunTest">
         <activeWhen>
            <with
                  variable="eu.compassresearch.ide.rttmbt.IsExecutionContextTP">
               <equals
                     value="truumpel">
               </equals>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="eu.compassresearch.ide.rttplugin.RttMbtReplayTestprocedure"
            commandId="eu.compassresearch.ide.rttplugin.RttMbtReplayTest">
         <activeWhen>
            <or>
               <with
                     variable="eu.compassresearch.ide.rttmbt.IsGenerationContextTP">
                  <equals
                        value="truumpel">
                  </equals>
               </with>
               <with
                     variable="eu.compassresearch.ide.rttmbt.IsExecutionContextTP">
                  <equals
                        value="truumpel">
                  </equals>
               </with>
            </or>
         </activeWhen>
      </handler>
      <handler
            class="eu.compassresearch.ide.rttplugin.RttMbtDocRttTestProcedure"
            commandId="eu.compassresearch.ide.rttplugin.RttMbtDocTest">
         <activeWhen>
            <with
                  variable="eu.compassresearch.ide.rttmbt.IsExecutionContextTP">
               <equals
                     value="truumpel">
               </equals>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="eu.compassresearch.ide.rttplugin.RttMbtCheckModel"
            commandId="eu.compassresearch.ide.rttplugin.RttMbtCheckModel">
         <activeWhen>
            <with
                  variable="eu.compassresearch.ide.rttmbt.IsModelDumpSelected">
               <equals
                     value="truumpel">
               </equals>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="eu.compassresearch.ide.rttplugin.RttMbtImportModel"
            commandId="eu.compassresearch.ide.rttplugin.RttMbtImportModel">
         <activeWhen>
            <with
                  variable="eu.compassresearch.ide.rttmbt.IsRttMbtProjectSelected">
               <equals
                     value="truumpel">
               </equals>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="eu.compassresearch.ide.rttplugin.RttMbtCleanProject"
            commandId="eu.compassresearch.ide.rttplugin.RttMbtCleanProject">
         <activeWhen>
            <with
                  variable="eu.compassresearch.ide.rttmbt.IsRttMbtProjectSelected">
               <equals
                     value="truumpel">
               </equals>
            </with>
         </activeWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               id="eu.compassresearch.ide.rttplugin.RttMbtMenu"
               label="RTT-MBT">
            <command
                  commandId="eu.compassresearch.ide.rttplugin.RttMbtCleanProject"
                  icon="icons/mbt_clean.png"
                  label="Clean Project"
                  style="push"
                  tooltip="Cleanup Project">
            </command>
            <!--
            <command
                  commandId="eu.compassresearch.ide.rttplugin.RttMbtNewProject"
                  icon="icons/rtt-mbt-small.png"
                  label="New Project"
                  style="push"
                  tooltip="Creates a new RTT-MBT project structure locally and on the initialize the RTT-MBT server work area">
            </command>
            <command
                  commandId="eu.compassresearch.ide.rttplugin.RttMbtAddProject"
                  icon="icons/add.png"
                  label="Add Project"
                  style="push"
                  tooltip="Adds a local project to the workspace on the RTT-MBT server">
            </command>
            -->
            <command
                  commandId="eu.compassresearch.ide.rttplugin.RttMbtImportModel"
                  icon="icons/mbt_import_model.png"
                  label="Import Model"
                  style="push"
                  tooltip="Imports the XMI representation of a model into the selected RTT-MBT project">
            </command>
            <command
                  commandId="eu.compassresearch.ide.rttplugin.RttMbtCheckModel"
                  icon="icons/rtt-mbt-small.png"
                  label="Check Model"
                  style="push"
                  tooltip="Perform Livelock Check on the model of this RTT-MBT Project">
            </command>
            <separator
                  name="eu.compassresearch.ide.rttplugin.separator-002"
                  visible="true">
            </separator>
            <command
                  commandId="eu.compassresearch.ide.rttplugin.RttMbtGenerateTest"
                  icon="icons/mbt_generate.png"
                  label="Generate Test"
                  style="push"
                  tooltip="Generate Test Procedure for this Generation Context">
            </command>
            <command
                  commandId="eu.compassresearch.ide.rttplugin.RttMbtGenerateSimulation"
                  icon="icons/mbt_check.png"
                  label="Generate Simulation"
                  style="push"
                  tooltip="Generate Simulation for this Generation Context">
            </command>
            <separator
                  name="eu.compassresearch.ide.rttplugin.separator-003"
                  visible="true">
            </separator>
            <command
                  commandId="eu.compassresearch.ide.rttplugin.RttMbtCleanTest"
                  icon="icons/clean.png"
                  label="Clean Test"
                  style="push"
                  tooltip="Clean Test Procedure">
            </command>
            <command
                  commandId="eu.compassresearch.ide.rttplugin.RttMbtCompileTest"
                  icon="icons/compile.png"
                  label="Compile Test"
                  style="push"
                  tooltip="Compile Test Procedure">
            </command>
            <command
                  commandId="eu.compassresearch.ide.rttplugin.RttMbtRunTest"
                  icon="icons/run.png"
                  label="Run Test"
                  style="push"
                  tooltip="Execute Test Procedure">
            </command>
            <command
                  commandId="eu.compassresearch.ide.rttplugin.RttMbtReplayTest"
                  icon="icons/mbt_replay.png"
                  label="Replay Test Result"
                  style="push"
                  tooltip="Replay Test Result against the Model">
            </command>
            <command
                  commandId="eu.compassresearch.ide.rttplugin.RttMbtDocTest"
                  icon="icons/documentate.png"
                  label="Generate Test Documentation"
                  style="push"
                  tooltip="Generate Test Procedure Documentation">
            </command>
            <separator
                  name="eu.compassresearch.ide.rttplugin.separator-004"
                  visible="true">
            </separator>
            <command
                  commandId="eu.compassresearch.ide.rttplugin.RttMbtAbort"
                  icon="icons/stop.png"
                  label="Abort Current task"
                  style="push"
                  tooltip="Abort Current task">
            </command>
            <command
                  commandId="eu.compassresearch.ide.rttplugin.RttMbtPushToServer"
                  icon="icons/back.png"
                  label="Push to Server"
                  style="push"
                  tooltip="Send File(s) to RTT-MBT server">
            </command>
            <command
                  commandId="eu.compassresearch.ide.rttplugin.RttMbtPullFromServer"
                  icon="icons/forward.png"
                  label="Pull from Server"
                  style="push"
                  tooltip="Retrieve Files/Directories from RTT-MBT server">
            </command>
            <command
                  commandId="eu.compassresearch.ide.rttplugin.DeleteLocalAndServer"
                  icon="icons/delete.png"
                  label="Delete RTT-MBT Resource"
                  style="push"
                  tooltip="Delete Directory/File locally and from RTT-MBT Server">
            </command>
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="eu.compassresearch.ide.rttmbt.IsRttPerspectiveActive">
                  <equals
                        value="truumpel">
                  </equals>
               </with>
            </visibleWhen>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="eu.compassresearch.ide.rttplugin.RttMbtToolbar"
               label="RT-Tester">
            <command
                  commandId="eu.compassresearch.ide.rttplugin.RttMbtCleanProject"
                  icon="icons/mbt_clean.png"
                  label="Clean Project"
                  style="push"
                  tooltip="Cleanup Project">
               <visibleWhen>
                  <with
                        variable="eu.compassresearch.ide.rttmbt.IsRttPerspectiveActive">
                     <equals
                           value="truumpel">
                     </equals>
                  </with>
               </visibleWhen>
            </command>
            <!--
            <command
                  commandId="eu.compassresearch.ide.rttplugin.RttMbtNewProject"
                  icon="icons/rtt-mbt-small.png"
                  label="New Project"
                  style="push"
                  tooltip="Creates a new RTT-MBT project structure locally and on the initialize the RTT-MBT server work area">
            </command>
            <command
                  commandId="eu.compassresearch.ide.rttplugin.RttMbtAddProject"
                  icon="icons/add.png"
                  label="Add Project"
                  style="push"
                  tooltip="Adds a local project to the workspace on the RTT-MBT server">
            </command>
            -->
            <command
                  commandId="eu.compassresearch.ide.rttplugin.RttMbtImportModel"
                  icon="icons/mbt_import_model.png"
                  label="Import Model"
                  style="push"
                  tooltip="Imports the XMI representation of a model into the selected RTT-MBT project">
               <visibleWhen>
                  <with
                        variable="eu.compassresearch.ide.rttmbt.IsRttPerspectiveActive">
                     <equals
                           value="truumpel">
                     </equals>
                  </with>
               </visibleWhen>
            </command>
            <command
                  commandId="eu.compassresearch.ide.rttplugin.RttMbtCheckModel"
                  icon="icons/rtt-mbt-small.png"
                  label="Check Model"
                  style="push"
                  tooltip="Perform Livelock Check on the model of this RTT-MBT Project">
               <visibleWhen>
                  <with
                        variable="eu.compassresearch.ide.rttmbt.IsRttPerspectiveActive">
                     <equals
                           value="truumpel">
                     </equals>
                  </with>
               </visibleWhen>
            </command>
            <separator
                  name="eu.compassresearch.ide.rttplugin.separator-002"
                  visible="true">
            </separator>
            <command
                  commandId="eu.compassresearch.ide.rttplugin.RttMbtGenerateTest"
                  icon="icons/mbt_generate.png"
                  label="Generate Test"
                  style="push"
                  tooltip="Generate Test Procedure for this Generation Context">
               <visibleWhen>
                  <with
                        variable="eu.compassresearch.ide.rttmbt.IsRttPerspectiveActive">
                     <equals
                           value="truumpel">
                     </equals>
                  </with>
               </visibleWhen>
            </command>
            <command
                  commandId="eu.compassresearch.ide.rttplugin.RttMbtGenerateSimulation"
                  icon="icons/mbt_check.png"
                  label="Generate Simulation"
                  style="push"
                  tooltip="Generate Simulation for this Generation Context">
               <visibleWhen>
                  <with
                        variable="eu.compassresearch.ide.rttmbt.IsRttPerspectiveActive">
                     <equals
                           value="truumpel">
                     </equals>
                  </with>
               </visibleWhen>
            </command>
            <separator
                  name="eu.compassresearch.ide.rttplugin.separator-003"
                  visible="true">
            </separator>
            <command
                  commandId="eu.compassresearch.ide.rttplugin.RttMbtCleanTest"
                  icon="icons/clean.png"
                  label="Clean Test"
                  style="push"
                  tooltip="Clean Test Procedure">
               <visibleWhen>
                  <with
                        variable="eu.compassresearch.ide.rttmbt.IsRttPerspectiveActive">
                     <equals
                           value="truumpel">
                     </equals>
                  </with>
               </visibleWhen>
            </command>
            <command
                  commandId="eu.compassresearch.ide.rttplugin.RttMbtCompileTest"
                  icon="icons/compile.png"
                  label="Compile Test"
                  style="push"
                  tooltip="Compile Test Procedure">
               <visibleWhen>
                  <with
                        variable="eu.compassresearch.ide.rttmbt.IsRttPerspectiveActive">
                     <equals
                           value="truumpel">
                     </equals>
                  </with>
               </visibleWhen>
            </command>
            <command
                  commandId="eu.compassresearch.ide.rttplugin.RttMbtRunTest"
                  icon="icons/run.png"
                  label="Run Test"
                  style="push"
                  tooltip="Execute Test Procedure">
               <visibleWhen>
                  <with
                        variable="eu.compassresearch.ide.rttmbt.IsRttPerspectiveActive">
                     <equals
                           value="truumpel">
                     </equals>
                  </with>
               </visibleWhen>
            </command>
            <command
                  commandId="eu.compassresearch.ide.rttplugin.RttMbtReplayTest"
                  icon="icons/mbt_replay.png"
                  label="Replay Test Result"
                  style="push"
                  tooltip="Replay Test Result against the Model">
               <visibleWhen>
                  <with
                        variable="eu.compassresearch.ide.rttmbt.IsRttPerspectiveActive">
                     <equals
                           value="truumpel">
                     </equals>
                  </with>
               </visibleWhen>
            </command>
            <command
                  commandId="eu.compassresearch.ide.rttplugin.RttMbtDocTest"
                  icon="icons/documentate.png"
                  label="Generate Test Documentation"
                  style="push"
                  tooltip="Generate Test Procedure Documentation">
               <visibleWhen>
                  <with
                        variable="eu.compassresearch.ide.rttmbt.IsRttPerspectiveActive">
                     <equals
                           value="truumpel">
                     </equals>
                  </with>
               </visibleWhen>
            </command>
            <separator
                  name="eu.compassresearch.ide.rttplugin.separator-004"
                  visible="true">
            </separator>
            <command
                  commandId="eu.compassresearch.ide.rttplugin.RttMbtAbort"
                  icon="icons/stop.png"
                  label="Abort Current task"
                  style="push"
                  tooltip="Abort Current task">
               <visibleWhen>
                  <with
                        variable="eu.compassresearch.ide.rttmbt.IsRttPerspectiveActive">
                     <equals
                           value="truumpel">
                     </equals>
                  </with>
               </visibleWhen>
            </command>
            <command
                  commandId="eu.compassresearch.ide.rttplugin.RttMbtPushToServer"
                  icon="icons/back.png"
                  label="Push to Server"
                  style="push"
                  tooltip="Send File(s) to RTT-MBT server">
               <visibleWhen>
                  <with
                        variable="eu.compassresearch.ide.rttmbt.IsRttPerspectiveActive">
                     <equals
                           value="truumpel">
                     </equals>
                  </with>
               </visibleWhen>
            </command>
            <command
                  commandId="eu.compassresearch.ide.rttplugin.RttMbtPullFromServer"
                  icon="icons/forward.png"
                  label="Pull from Server"
                  style="push"
                  tooltip="Retrieve Files/Directories from RTT-MBT server">
               <visibleWhen>
                  <with
                        variable="eu.compassresearch.ide.rttmbt.IsRttPerspectiveActive">
                     <equals
                           value="truumpel">
                     </equals>
                  </with>
               </visibleWhen>
            </command>
            <command
                  commandId="eu.compassresearch.ide.rttplugin.DeleteLocalAndServer"
                  icon="icons/delete.png"
                  label="Delete RTT-MBT Resource"
                  style="push"
                  tooltip="Delete Directory/File locally and from RTT-MBT Server">
               <visibleWhen>
                  <with
                        variable="eu.compassresearch.ide.rttmbt.IsRttPerspectiveActive">
                     <equals
                           value="truumpel">
                     </equals>
                  </with>
               </visibleWhen>
            </command>
         </toolbar>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <menu
               id="eu.compassresearch.ide.rttplugin.RttMbtProjectMenu"
               label="Resource">
            <!--
            <command
                  commandId="eu.compassresearch.ide.rttplugin.RttMbtNewProject"
                  icon="icons/rtt-mbt-small.png"
                  label="New Project"
                  style="push"
                  tooltip="Creates a new RTT-MBT project structure locally and on the initialize the RTT-MBT server work area">
            </command>
            <command
                  commandId="eu.compassresearch.ide.rttplugin.RttMbtAddProject"
                  icon="icons/add.png"
                  label="Add Project"
                  style="push"
                  tooltip="Adds a local project to the workspace on the RTT-MBT server">
            </command>
            -->
            <command
                  commandId="eu.compassresearch.ide.rttplugin.RttMbtPushToServer"
                  icon="icons/back.png"
                  label="Push to Server"
                  style="push"
                  tooltip="Send File(s) to RTT-MBT server">
            </command>
            <command
                  commandId="eu.compassresearch.ide.rttplugin.RttMbtPullFromServer"
                  icon="icons/forward.png"
                  label="Pull from Server"
                  style="push"
                  tooltip="Retrieve Files/Directories from RTT-MBT server">
            </command>
            <command
                  commandId="eu.compassresearch.ide.rttplugin.DeleteLocalAndServer"
                  icon="icons/delete.png"
                  label="Delete RTT-MBT Resource"
                  style="push"
                  tooltip="Delete Directory/File locally and from RTT-MBT Server">
            </command>
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="eu.compassresearch.ide.rttmbt.IsRttPerspectiveActive">
                  <equals
                        value="truumpel">
                  </equals>
               </with>
            </visibleWhen>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <menu
               id="eu.compassresearch.ide.rttplugin.RttMbtModelMenu"
               label="Model">
            <command
                  commandId="eu.compassresearch.ide.rttplugin.RttMbtCleanProject"
                  icon="icons/mbt_clean.png"
                  label="Clean Project"
                  style="push"
                  tooltip="Cleanup Project">
            </command>
            <command
                  commandId="eu.compassresearch.ide.rttplugin.RttMbtImportModel"
                  icon="icons/mbt_import_model.png"
                  label="Import Model"
                  style="push"
                  tooltip="Imports the XMI representation of a model into the selected RTT-MBT project">
            </command>
            <command
                  commandId="eu.compassresearch.ide.rttplugin.RttMbtCheckModel"
                  icon="icons/rtt-mbt-small.png"
                  label="Check Model"
                  style="push"
                  tooltip="Imports the XMI representation of a model into the selected RTT-MBT project">
            </command>
            <visibleWhen
                  checkEnabled="false">
               <and>
                  <with
                        variable="eu.compassresearch.ide.rttmbt.IsRttPerspectiveActive">
                     <equals
                           value="truumpel">
                     </equals>
                  </with>
                  <or>
                     <with
                           variable="eu.compassresearch.ide.rttmbt.IsModelDumpSelected">
                        <equals
                              value="truumpel">
                        </equals>
                     </with>
                     <with
                           variable="eu.compassresearch.ide.rttmbt.IsRttMbtProjectSelected">
                        <equals
                              value="truumpel">
                        </equals>
                     </with>
                  </or>
               </and>
            </visibleWhen>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <menu
               id="eu.compassresearch.ide.rttplugin.RttMbtTPgenContextMenu"
               label="Test Generation Context">
            <command
                  commandId="eu.compassresearch.ide.rttplugin.RttMbtGenerateTest"
                  icon="icons/mbt_generate.png"
                  label="Generate Test"
                  style="push"
                  tooltip="Generate Test Procedure for this Generation Context">
            </command>
            <command
                  commandId="eu.compassresearch.ide.rttplugin.RttMbtGenerateSimulation"
                  icon="icons/mbt_check.png"
                  label="Generate Simulation"
                  style="push"
                  tooltip="Generate Simulation for this Generation Context">
            </command>
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="eu.compassresearch.ide.rttmbt.IsGenerationContextTP">
                  <equals
                        value="truumpel">
                  </equals>
               </with>
            </visibleWhen>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <menu
               id="eu.compassresearch.ide.rttplugin.RttMbtTestProcedureMenu"
               label="Test Execution Context">
            <command
                  commandId="eu.compassresearch.ide.rttplugin.RttMbtCleanTest"
                  icon="icons/clean.png"
                  label="Clean Test"
                  style="push"
                  tooltip="Clean Test Procedure">
            </command>
            <command
                  commandId="eu.compassresearch.ide.rttplugin.RttMbtCompileTest"
                  icon="icons/compile.png"
                  label="Compile Test"
                  style="push"
                  tooltip="Compile Test Procedure">
            </command>
            <command
                  commandId="eu.compassresearch.ide.rttplugin.RttMbtRunTest"
                  icon="icons/run.png"
                  label="Run Test"
                  style="push"
                  tooltip="Execute Test Procedure">
            </command>
            <command
                  commandId="eu.compassresearch.ide.rttplugin.RttMbtReplayTest"
                  icon="icons/mbt_replay.png"
                  label="Replay Test Result"
                  style="push"
                  tooltip="Replay Test Result against the Model">
            </command>
            <command
                  commandId="eu.compassresearch.ide.rttplugin.RttMbtDocTest"
                  icon="icons/documentate.png"
                  label="Generate Test Documentation"
                  style="push"
                  tooltip="Generate Test Procedure Documentation">
            </command>
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="eu.compassresearch.ide.rttmbt.IsExecutionContextTP">
                  <equals
                        value="truumpel">
                  </equals>
               </with>
            </visibleWhen>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="eu.compassresearch.ide.rttplugin.RttMbtSignalmapEditor"
            contributorClass="eu.compassresearch.ide.rttplugin.RttMbtSignalmapEditorContributor"
            default="true"
            filenames="signalmap.csv"
            icon="icons/configure.png"
            id="eu.compassresearch.ide.rttplugin.signalmapeditor"
            name="Signalmap Editor">
      </editor>
      <editor
            class="eu.compassresearch.ide.rttplugin.RttMbtConfigEditor"
            contributorClass="eu.compassresearch.ide.rttplugin.RttMbtConfigEditorContributor"
            default="true"
            filenames="configuration.csv"
            icon="icons/configure.png"
            id="eu.compassresearch.ide.rttplugin.configeditor"
            name="Configuration Editor">
      </editor>
      <editor
            class="eu.compassresearch.ide.rttplugin.RttMbtRequirementsCoverage"
            contributorClass="eu.compassresearch.ide.rttplugin.RttMbtRequirementsCoverageContributor"
            default="true"
            filenames="overall_coverage.csv"
            icon="icons/configure.png"
            id="eu.compassresearch.ide.rttplugin.overallcoverageeditor"
            name="Overall Coverage Editor">
      </editor>
      <editor
            class="eu.compassresearch.ide.rttplugin.RttMbtSignalViewEditor"
            contributorClass="eu.compassresearch.ide.rttplugin.RttMbtSignalViewEditorContributor"
            default="true"
            filenames="signals.json"
            icon="icons/mbt_run.png"
            id="eu.compassresearch.ide.rttplugin.signalviewer"
            name="Signal Viewer">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.services">
      <sourceProvider
            provider="eu.compassresearch.ide.rttplugin.RttMbtCommandState">
         <variable
               name="eu.compassresearch.ide.rttmbt.IsGenerationContextTP"
               priorityLevel="workbench">
         </variable>
         <variable
               name="eu.compassresearch.ide.rttmbt.IsExecutionContextTP"
               priorityLevel="workbench">
         </variable>
         <variable
               name="eu.compassresearch.ide.rttmbt.IsRttPerspectiveActive"
               priorityLevel="workbench">
         </variable>
      </sourceProvider>
   </extension>

</plugin>
