<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>

<plugin>
  <!-- For possible extension points see
 
  http://help.eclipse.org/indigo/index.jsp?
  topic=%2Forg.eclipse.platform.doc.isv%2Freference%2Fextension-points%2Findex.html

  -->
  <extension
        point="org.eclipse.ui.newWizards">
        <wizard 
        	id="eu.compassresearch.ide.cml.rttplugin.RttMbtComponentWizard"
        	name="RTT-MBT component"
        	category="compass_eu.compassresearch.ide.cml.ui.category"
	        icon="icons/rtt-mbt.png"
        	class="eu.compassresearch.ide.cml.rttplugin.RttMbtComponentWizard"
        	/>
        
	       <category
            id="compass_eu.compassresearch.ide.cml.ui.category"
            name="COMPASS">
    	  </category>
  </extension>

  <!-- Console View -->
  <extension point="org.eclipse.ui.views">
    <view 
        id="eu.compassresearch.ide.cml.rttplugin.RttMbtConsoleView"
        name="RTT-MBT Console"
        category="compass_eu.compassresearch.ide.cml.ui.category"
        icon="icons/rtt-mbt-small.png"
        class="eu.compassresearch.ide.cml.rttplugin.RttMbtConsoleView" />
        <category
        	id="compass_eu.compassresearch.ide.cml.ui.category"
        	name="COMPASS"/>
  </extension>

  <!-- progress View -->
  <extension point="org.eclipse.ui.views">
    <view 
        id="eu.compassresearch.ide.cml.rttplugin.RttMbtProgressView"
        name="RTT-MBT Progress"
        category="compass_eu.compassresearch.ide.cml.ui.category"
        icon="icons/rtt-mbt-small.png"
        class="eu.compassresearch.ide.cml.rttplugin.RttMbtProgressView" />
        <category
        	id="compass_eu.compassresearch.ide.cml.ui.category"
        	name="COMPASS"/>
  </extension>
  
  <!-- pop up mennu property tester -->
  <extension point="org.eclipse.core.expressions.propertyTesters">
    <propertyTester
	  id="eu.compassresearch.ide.cml.rttplugin.rttPropertyTester"
      type="java.lang.Object"
      namespace="eu.compassresearch.ide.cml.rttplugin"
      properties="isRttMbtProject, isTestGenerationContext, isRttTestprocedure"
      class="eu.compassresearch.ide.cml.rttplugin.RttMbtPropertyTester">
    </propertyTester>
  </extension>

  <!-- Import Model -->
  <extension point="org.eclipse.ui.menus">
    <menuContribution
      locationURI="popup:org.overture.ide.ui.VdmExplorer">
      <command
        commandId="eu.compassresearch.ide.cml.rttplugin.RttMbtImportModel"
        label="Import Model"
        tooltip="Initialise RTT-MBT component"
        icon="icons/mbt_import_model.png">
		<enabledWhen>
			<with variable="selection">
        		<test property="eu.compassresearch.ide.cml.rttplugin.isRttMbtProject"/>
        	</with>
		</enabledWhen>
      </command>
    </menuContribution>
  </extension>
  <extension point="org.eclipse.ui.commands">
    <command
      defaultHandler="eu.compassresearch.ide.cml.rttplugin.RttMbtImportModel"
      id="eu.compassresearch.ide.cml.rttplugin.RttMbtImportModel"
      name="Initialise RTT-MBT component">
    </command>
  </extension>

  <!-- Generate Test Procedure -->
  <extension point="org.eclipse.ui.commands">
    <command
      defaultHandler="eu.compassresearch.ide.cml.rttplugin.RttMbtGenerateTest"
      id="eu.compassresearch.ide.cml.rttplugin.RttMbtGenerateTest"
      name="Generate Test Procedure"
    />
  </extension>
  <extension point="org.eclipse.ui.menus">
    <menuContribution
      locationURI="popup:org.overture.ide.ui.VdmExplorer">
      <command
        commandId="eu.compassresearch.ide.cml.rttplugin.RttMbtGenerateTest"
        label="Generate Test Procedure"
        tooltip="Generate concrete test procedure from abstract test procedure configuration"
        icon="icons/mbt_generate.png"
      />
    </menuContribution>
  </extension>

  <!-- Generate Simulation -->
  <extension point="org.eclipse.ui.commands">
    <command
      defaultHandler="eu.compassresearch.ide.cml.rttplugin.RttMbtGenerateSimulation"
      id="eu.compassresearch.ide.cml.rttplugin.RttMbtGenerateSimulation"
      name="Generate Simulation"
    />
  </extension>
  <extension point="org.eclipse.ui.menus">
    <menuContribution
      locationURI="popup:org.overture.ide.ui.VdmExplorer">
      <command
        commandId="eu.compassresearch.ide.cml.rttplugin.RttMbtGenerateSimulation"
        label="Generate Simulation"
        tooltip="Generate simulations from abstract test procedure configuration"
        icon="icons/mbt_check.png"
      />
    </menuContribution>
  </extension>

  <!-- Clean -->
  <extension point="org.eclipse.ui.commands">
    <command
      defaultHandler="eu.compassresearch.ide.cml.rttplugin.RttMbtCleanRttTestProcedure"
      id="eu.compassresearch.ide.cml.rttplugin.RttMbtCleanRttTestProcedure"
      name="Clean Test"
    />
  </extension>
  <extension point="org.eclipse.ui.menus">
    <menuContribution
      locationURI="popup:org.overture.ide.ui.VdmExplorer">
      <command
        commandId="eu.compassresearch.ide.cml.rttplugin.RttMbtCleanRttTestProcedure"
        label="Clean Test"
        tooltip="Cleanup concrete test procedure"
        icon="icons/clean.png"
      />
    </menuContribution>
  </extension>

  <!-- Compile -->
  <extension point="org.eclipse.ui.commands">
    <command
      defaultHandler="eu.compassresearch.ide.cml.rttplugin.RttMbtCompileRttTestProcedure"
      id="eu.compassresearch.ide.cml.rttplugin.RttMbtCompileRttTestProcedure"
      name="Compile Test"
    />
  </extension>
  <extension point="org.eclipse.ui.menus">
    <menuContribution
      locationURI="popup:org.overture.ide.ui.VdmExplorer">
      <command
        commandId="eu.compassresearch.ide.cml.rttplugin.RttMbtCompileRttTestProcedure"
        label="Compile Test"
        tooltip="Compile concrete test procedure"
        icon="icons/compile.png"
      />
    </menuContribution>
  </extension>

  <!-- Run -->
  <extension point="org.eclipse.ui.commands">
    <command
      defaultHandler="eu.compassresearch.ide.cml.rttplugin.RttMbtRunRttTestProcedure"
      id="eu.compassresearch.ide.cml.rttplugin.RttMbtRunRttTestProcedure"
      name="Run Test"
    />
  </extension>
  <extension point="org.eclipse.ui.menus">
    <menuContribution
      locationURI="popup:org.overture.ide.ui.VdmExplorer">
      <command
        commandId="eu.compassresearch.ide.cml.rttplugin.RttMbtRunRttTestProcedure"
        label="Run Test"
        tooltip="Run concrete test procedure"
        icon="icons/run.png"
      />
    </menuContribution>
  </extension>

  <!-- Doc -->
  <extension point="org.eclipse.ui.commands">
    <command
      defaultHandler="eu.compassresearch.ide.cml.rttplugin.RttMbtDocRttTestProcedure"
      id="eu.compassresearch.ide.cml.rttplugin.RttMbtDocRttTestProcedure"
      name="Doc Test"
    />
  </extension>
  <extension point="org.eclipse.ui.menus">
    <menuContribution
      locationURI="popup:org.overture.ide.ui.VdmExplorer">
      <command
        commandId="eu.compassresearch.ide.cml.rttplugin.RttMbtDocRttTestProcedure"
        label="Doc Test"
        tooltip="Generate test procedure documentation"
        icon="icons/documentate.png"
      />
    </menuContribution>
  </extension>

  <!-- Replay -->
  <extension point="org.eclipse.ui.commands">
    <command
      defaultHandler="eu.compassresearch.ide.cml.rttplugin.RttMbtReplayTestprocedure"
      id="eu.compassresearch.ide.cml.rttplugin.RttMbtReplayTestprocedure"
      name="Replay Test"
    />
  </extension>
  <extension point="org.eclipse.ui.menus">
    <menuContribution
      locationURI="popup:org.overture.ide.ui.VdmExplorer">
      <command
        commandId="eu.compassresearch.ide.cml.rttplugin.RttMbtReplayTestprocedure"
        label="Replay Test"
        tooltip="Generate test procedure documentation"
        icon="icons/mbt_replay.png"
      />
    </menuContribution>
  </extension>

  <!-- push directory/file -->
  <extension point="org.eclipse.ui.commands">
    <command
      defaultHandler="eu.compassresearch.ide.cml.rttplugin.RttMbtSendFile"
      id="eu.compassresearch.ide.cml.rttplugin.RttMbtSendFile"
      name="Push to Server"
    />
  </extension>
  <extension point="org.eclipse.ui.menus">
    <menuContribution
      locationURI="popup:org.overture.ide.ui.VdmExplorer">
      <command
        commandId="eu.compassresearch.ide.cml.rttplugin.RttMbtSendFile"
        label="Push to server"
        tooltip="Add Directory/File to RTT-MBT Server Work Area"
        icon="icons/back.png"
      />
    </menuContribution>
  </extension>

  <!-- retrieve directory -->
  <extension point="org.eclipse.ui.commands">
    <command
      defaultHandler="eu.compassresearch.ide.cml.rttplugin.RttMbtRetrieveDirectory"
      id="eu.compassresearch.ide.cml.rttplugin.RttMbtRetrieveDirectory"
      name="Pull from Server"
    />
  </extension>
  <extension point="org.eclipse.ui.menus">
    <menuContribution
      locationURI="popup:org.overture.ide.ui.VdmExplorer">
      <command
        commandId="eu.compassresearch.ide.cml.rttplugin.RttMbtRetrieveDirectory"
        label="Pull from Server"
        tooltip="Retrieve Directory Content from RTT-MBT Server Work Area"
        icon="icons/forward.png"
      />
    </menuContribution>
  </extension>

  <!-- Add Project -->
  <extension point="org.eclipse.ui.commands">
    <command
      defaultHandler="eu.compassresearch.ide.cml.rttplugin.RttMbtAddProject"
      id="eu.compassresearch.ide.cml.rttplugin.RttMbtAddProject"
      name="Add component to Server"
    />
  </extension>
  <extension point="org.eclipse.ui.menus">
    <menuContribution
      locationURI="popup:org.overture.ide.ui.VdmExplorer">
      <command
        commandId="eu.compassresearch.ide.cml.rttplugin.RttMbtAddProject"
        label="Add Component to Server"
        tooltip="Add an existing RTT-MBT Component to the RTT-MBT Server Work Area"
        icon="icons/add.png"
      />
    </menuContribution>
  </extension>

  <!-- test generation context configuration -->
  <extension point="org.eclipse.ui.editors">
    <editor
        id="eu.compassresearch.ide.cml.rttplugin.configeditor"
        extensions="configuration"
        name="Advanced Configuration"
        icon="icons/configure.png"
        contributorClass="eu.compassresearch.ide.cml.rttplugin.RttMbtConfigEditorContributor"
        class="eu.compassresearch.ide.cml.rttplugin.RttMbtConfigEditor"
        default="true"
        filenames="configuration.csv"/>
  </extension>

  <!-- sigmal map configuration -->
  <extension point="org.eclipse.ui.editors">
    <editor
        id="eu.compassresearch.ide.cml.rttplugin.signalmapeditor"
        extensions="signalmapping"
        name="Signal Configuration"
        icon="icons/configure.png"
        contributorClass="eu.compassresearch.ide.cml.rttplugin.RttMbtSignalmapEditorContributor"
        class="eu.compassresearch.ide.cml.rttplugin.RttMbtSignalmapEditor"
        default="true"
        filenames="signalmap.csv"/>
  </extension>

  <!-- Requirements tracing -->
  <extension point="org.eclipse.ui.editors">
    <editor
        id="eu.compassresearch.ide.cml.rttplugin.reqtracing"
        extensions="requirementsCoverage"
        name="Coverage"
        icon="icons/configure.png"
        contributorClass="eu.compassresearch.ide.cml.rttplugin.RttMbtRequirementsCoverageContributor"
        class="eu.compassresearch.ide.cml.rttplugin.RttMbtRequirementsCoverage"
        default="true"
        filenames="overall_coverage.csv"/>
  </extension>

  <!-- RTT-MBT preferences page -->
  <extension
        point="org.eclipse.ui.preferencePages">
     <page
           class="eu.compassresearch.ide.cml.rttplugin.RttMbtPreferencesPage"
           id="eu.compassresearch.ide.cml.rttplugin.RttMbtPreferencesPage"
           name="RTT-MBT"
           category="RTT-MBT">
     </page>
  </extension>
  <extension
        point="org.eclipse.core.runtime.preferences">
     <initializer
           class="eu.compassresearch.ide.cml.rttplugin.PreferenceInitializer">
     </initializer>
  </extension>

</plugin>
