<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>

<plugin>
  <!-- For possible extension points see
 
  http://help.eclipse.org/indigo/index.jsp?
  topic=%2Forg.eclipse.platform.doc.isv%2Freference%2Fextension-points%2Findex.html

  -->
  <extension
        point="org.eclipse.ui.newWizards">
        <wizard 
        	id="eu.compassresearch.ide.cml.rttplugin.RttMbtComponentWizard"
        	name="RTT-MBT component"
        	category="compass_eu.compassresearch.ide.cml.ui.category"
	        icon="icons/rtt-mbt.png"
        	class="eu.compassresearch.ide.cml.rttplugin.RttMbtComponentWizard"
        	/>
        
	       <category
            id="compass_eu.compassresearch.ide.cml.ui.category"
            name="COMPASS">
    	  </category>
  </extension>

  <extension point="org.eclipse.ui.views">
    <view 
        id="eu.compassresearch.ide.cml.rttplugin.RTTesterView"
        name="RT Tester View"
        category="compass_eu.compassresearch.ide.cml.ui.category"
        icon="icons/cview16/cml_file_tsk.png"
        class="eu.compassresearch.ide.cml.rttplugin.RTTesterView" />
        
        <category
        	id="compass_eu.compassresearch.ide.cml.ui.category"
        	name="COMPASS"/>
  </extension>
  
  <!-- Import Model -->
  <extension point="org.eclipse.ui.commands">
    <command
      defaultHandler="eu.compassresearch.ide.cml.rttplugin.RttMbtImportModel"
      id="eu.compassresearch.ide.cml.rttplugin.RttMbtImportModel"
      name="Initialise RTT-MBT component"
    />
  </extension>
  <extension point="org.eclipse.ui.menus">
    <menuContribution
      locationURI="popup:org.overture.ide.ui.VdmExplorer">
      <command
        commandId="eu.compassresearch.ide.cml.rttplugin.RttMbtImportModel"
        label="Import Model"
        tooltip="Initialise RTT-MBT component"
        icon="icons/mbt_import_model.png"
      />
    </menuContribution>
  </extension>

  <!-- Generate Test Procedure -->
  <extension point="org.eclipse.ui.commands">
    <command
      defaultHandler="eu.compassresearch.ide.cml.rttplugin.RttMbtGenerateTestProcedure"
      id="eu.compassresearch.ide.cml.rttplugin.RttMbtGenerateTestProcedure"
      name="Initialise RTT-MBT component"
    />
  </extension>
  <extension point="org.eclipse.ui.menus">
    <menuContribution
      locationURI="popup:org.overture.ide.ui.VdmExplorer">
      <command
        commandId="eu.compassresearch.ide.cml.rttplugin.RttMbtGenerateTestProcedure"
        label="Generate Test Procedure"
        tooltip="Generate concrete test procedure from abstract test procedure configuration"
        icon="icons/mbt_generate.png"
      />
    </menuContribution>
  </extension>

  <!-- Import Model -->
  <extension point="org.eclipse.ui.commands">
    <command
      defaultHandler="eu.compassresearch.ide.cml.rttplugin.RttMbtGenerateSimulation"
      id="eu.compassresearch.ide.cml.rttplugin.RttMbtGenerateSimulation"
      name="Initialise RTT-MBT component"
    />
  </extension>
  <extension point="org.eclipse.ui.menus">
    <menuContribution
      locationURI="popup:org.overture.ide.ui.VdmExplorer">
      <command
        commandId="eu.compassresearch.ide.cml.rttplugin.RttMbtGenerateSimulation"
        label="Generate Simulation"
        tooltip="Generate simulations from abstract test procedure configuration"
        icon="icons/mbt_check.png"
      />
    </menuContribution>
  </extension>

</plugin>
