<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>

<plugin>
  <!-- For possible extension points see
 
  http://help.eclipse.org/indigo/index.jsp?
  topic=%2Forg.eclipse.platform.doc.isv%2Freference%2Fextension-points%2Findex.html

  -->
  
  <extension
        point="org.eclipse.ui.startup">
     <startup class="eu.compassresearch.ide.faulttolerance.Activator"> </startup>
  </extension>
  <extension
        point="org.eclipse.ui.views"> 
      
        <view id="eu.compassresearch.ide.faulttolerance.view.VerificationResultsView"
                name="FT verification results view"
                icon="icons/resultsView.png"
             category="eu.compassresearch.ide.ui.category"
                class="eu.compassresearch.ide.faulttolerance.view.VerificationResultsView"/>
  </extension>
  
  
</plugin>
