<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>

<plugin>
  <!-- For possible extension points see
 
  http://help.eclipse.org/indigo/index.jsp?
  topic=%2Forg.eclipse.platform.doc.isv%2Freference%2Fextension-points%2Findex.html

  -->
  
  <extension
        point="org.eclipse.ui.startup">
     <startup class="eu.compassresearch.ide.faulttolerance.Activator"> </startup>
  </extension>
  <extension
        point="org.eclipse.ui.menus">
        <menuContribution locationURI="popup:eu.compassresearch.ide.ui.CmlNavigator?after=additions">
            <menu id="eu.compassresearch.ide.faulttolerance.verification.cmlnavigator" 
              label="%FAULT_TOLERANCE" mnemonic="%FAULT_TOLERANCE_MNEMONIC"
              icon="icons/ft-graphic.png">
              <visibleWhen>
                <with variable="selection">
                  <count value="1"/>
                  <iterate ifEmpty="false">
                    <instanceof value="eu.compassresearch.ast.definitions.AProcessDefinition"/>
                  </iterate>
                </with>
              </visibleWhen>
	          <command
                    commandId="eu.compassresearch.ide.faulttolerance.verification.Verify">
              </command>
              <command
                    commandId="eu.compassresearch.ide.faulttolerance.verification.Clear">
              </command>
            </menu>
        </menuContribution>
        <menuContribution locationURI="popup:#TextEditorContext?after=additions">
            <menu id="eu.compassresearch.ide.faulttolerance.verification.editorcontext" 
              label="%FAULT_TOLERANCE" mnemonic="%FAULT_TOLERANCE_MNEMONIC"
              icon="icons/ft-graphic.png">
              <visibleWhen>
                <with variable="activeEditorId">
                   <equals value="eu.compassresearch.ide.ui.editor"/>
                </with>
              </visibleWhen>
              <command
                    commandId="eu.compassresearch.ide.faulttolerance.verification.Verify">
              </command>
              <command
                    commandId="eu.compassresearch.ide.faulttolerance.verification.Clear">
              </command>
            </menu>
        </menuContribution>
        <menuContribution locationURI="popup:org.eclipse.ui.views.AllMarkersView?after=additions">
          <command commandId="eu.compassresearch.ide.faulttolerance.verification.Clear" 
            label="%CLEAR_FAULT_TOLERANCE_VERIFICATIONS_MARKERS_VIEW">
          <!--
              <visibleWhen>
                <with variable="selection">
                  <count value="1"/>
                  <iterate ifEmpty="false">
                    <instanceof value="eu.compassresearch.ast.definitions.AProcessDefinition"/>
                  </iterate>
                </with>
              </visibleWhen>
              -->
          </command>
        </menuContribution>
  </extension>
  
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="eu.compassresearch.ide.faulttolerance.verification.Verify"
            name="%VERIFY_FAULT_TOLERANCE">
      </command>
      <command
            id="eu.compassresearch.ide.faulttolerance.verification.Clear"
            name="%CLEAR_FAULT_TOLERANCE_VERIFICATIONS">
      </command>
   </extension>
   
   <extension point="org.eclipse.ui.commandImages">
    <image commandId="eu.compassresearch.ide.faulttolerance.verification.Verify" icon="icons/ft-graphic-run.png"/>
   </extension>
   
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="eu.compassresearch.ide.faulttolerance.handlers.FaultToleranceVerificationHandler"
            commandId="eu.compassresearch.ide.faulttolerance.verification.Verify">
      </handler>
      <handler
            class="eu.compassresearch.ide.faulttolerance.handlers.ClearFaultToleranceHandler"
            commandId="eu.compassresearch.ide.faulttolerance.verification.Clear">
      </handler>
   </extension>
   
  <extension id="faulttolerancemarker" 
    name="%MARKER_TYPE_NAME" point="org.eclipse.core.resources.markers">
     <!--
     The type checker (VanillaCmlTypeChecker.initialise) or other component clears
     all problemmarkers.
     <super type="org.eclipse.core.resources.problemmarker"/>-->
     <super type="org.eclipse.core.resources.textmarker"/>
     <persistent value="true"/>
     <attribute name="location"/>
     <attribute name="severity"/>
     <attribute name="message"/>
     <attribute name="lineNumber"/>
     <attribute name="charStart"/>
     <attribute name="charEnd"/>
     <attribute name="systemName"/>
     <attribute name="success"/>
  </extension>
  
  <extension
      point="org.eclipse.ui.ide.markerImageProviders">
    <imageprovider
      markertype="eu.compassresearch.ide.faulttolerance.faulttolerancemarker"
      icon="icons/ft-blue.png"
      id="eu.compassresearch.ide.faulttolerance.markerImageProvider"
      class="eu.compassresearch.ide.faulttolerance.jobs.MarkerImageProvider">
    </imageprovider>
  </extension>

  <extension point="org.eclipse.ui.ide.markerResolution">
      <markerResolutionGenerator
         markerType="eu.compassresearch.ide.faulttolerance.faulttolerancemarker"
         class="eu.compassresearch.ide.faulttolerance.marker.FaultToleranceFixer">
      </markerResolutionGenerator>
   </extension>
   
</plugin>
