<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>

<plugin>
	<!-- For possible extension points see
 
  http://help.eclipse.org/indigo/index.jsp?
  topic=%2Forg.eclipse.platform.doc.isv%2Freference%2Fextension-points%2Findex.html

  -->
	<!--icon="icons/cview16/cml_file_icon.png"-->
	<extension point="org.eclipse.ui.views">
	<category
        	id="eu.compassresearch.ide.ui.category"
        	name="COMPASS"/>
	
	
		<view 
        id="eu.compassresearch.ide.interpreter.OptionsView"
        name="CML Event Options"
        category="eu.compassresearch.ide.ui.category"

        class="eu.compassresearch.ide.interpreter.views.CmlEventOptionView" />

		
		<view 
        id="eu.compassresearch.ide.interpreter.historyView"
        name="Observable Event History"
        category="eu.compassresearch.ide.ui.category"

        class="eu.compassresearch.ide.interpreter.views.CmlEventHistoryView" />

		
	</extension>

	<!-- Declare launch configuration type -->
	<extension point="org.eclipse.debug.core.launchConfigurationTypes">
		<launchConfigurationType
        delegate="eu.compassresearch.ide.interpreter.launch.CmlLaunchConfigurationDelegate"
        id="eu.compassresearch.ide.interpreter.launchConfigurationType"
        modes="debug,run"
        name="CML Model"
        public="true"
        sourceLocatorId="eu.compassresearch.ide.interpreter.sourceLocator"
        sourcePathComputerId="eu.compassresearch.ide.interpreter.sourcePathComputer">
		</launchConfigurationType>
	</extension>

	

	<!-- Add the launch config group to the launch dialog -->
	<extension point="org.eclipse.debug.ui.launchConfigurationTabGroups">
		<launchConfigurationTabGroup
			class="eu.compassresearch.ide.interpreter.launching.CmlLaunchConfigurationTabGroup"
			description="COMPASS Launch Tab" 
			id="eu.compassresearch.ide.interpreter.launchConfigurationTabGroup"
			type="eu.compassresearch.ide.interpreter.launchConfigurationType">
			<launchMode 
                  mode="debug"
                  perspective="org.eclipse.debug.ui.DebugPerspective"
                  description="Debugs a CML Model">
			</launchMode>
			<launchMode
                  mode="run"
                  description="Runs a CML Model">
			</launchMode>
		</launchConfigurationTabGroup>
	</extension>

	<!-- Shoutcut for launching project. Extends the Debug and Run context menu in the CML Explorer -->
	<extension point="org.eclipse.debug.ui.launchShortcuts">
	  <shortcut
              id="eu.compassresearch.ide.interpreter.CmlShortcut"
              class="eu.compassresearch.ide.interpreter.launch.CmlApplicationLaunchShortcut"
              label="CML Application"
              modes="debug, run"
              icon="icons/cview16/cml_file_icon.png"
              description="Launch a CML model">
			<description
	     description="Runs a local CML model"
	     mode="run">
			</description>
			<description
		     description="Debugs a local CML model"
		     mode="debug">
			</description>
			<contextualLaunch>
				<contextLabel mode="run" label="CML model" />
				<contextLabel mode="debug" label="CML model" />
				<enablement >
					<with variable="selection">
						<count value="1"/>
						<iterate>
						<!-- wrap the next part in something that is not a project -->
							<adapt type="org.eclipse.core.resources.IFile">
								<and>
									 <test property="org.eclipse.core.resources.contentTypeId" 
           	    	value="eu.compassresearch.ide.core.content-type-cml"/>
								</and>
							</adapt>
						</iterate>
					</with>
				</enablement>
			</contextualLaunch>
			<configurationType
	    	id="eu.compassresearch.ide.interpreter.launchConfigurationType">
			</configurationType>
		</shortcut>
	</extension>



	<!--

		add breakpoint actionsSet to the OverturePerspective (this is the menu
		-> run -> (toggle breakpoint, remove all breakpoints, etc)
	-->
	<extension point="org.eclipse.ui.perspectiveExtensions">
		<perspectiveExtension targetID="eu.compassresearch.ide.ui.perspective">
			<actionSet id="org.eclipse.debug.ui.breakpointActionSet"/>
			<actionSet
         id="org.eclipse.debug.ui.launchActionSet">
			</actionSet>
		</perspectiveExtension>
	</extension>





	<!-- place the CML debug views in the right folders in the debug perspecives -->

	<extension point="org.eclipse.ui.perspectiveExtensions">
		<perspectiveExtension 
	targetID="org.eclipse.debug.ui.DebugPerspective">

			<view id="eu.compassresearch.ide.interpreter.historyView" 
        	relative="org.eclipse.debug.ui.ExpressionView" 
    		relationship="stack"/>	

			<view id="eu.compassresearch.ide.interpreter.OptionsView" 
        	relative="org.eclipse.ui.views.ContentOutline" 
    		relationship="stack"/>	


		</perspectiveExtension> 
	</extension>
 <extension
       point="org.eclipse.ui.preferencePages">
    <page
          class="eu.compassresearch.ide.interpreter.preferences.WorkbenchPreferencePageInterpreter"
          id="eu.compassresearch.ide.interpreter.page1"
          name="CML Interpreter">
    </page>
 </extension>
 <extension
       point="org.eclipse.debug.ui.launchConfigurationTypeImages">
    <launchConfigurationTypeImage
          configTypeID="eu.compassresearch.ide.interpreter.launchConfigurationType"
          icon="icons/cview16/cml_file_icon.png"
          id="eu.compassresearch.ide.interpreter.launchConfigurationTypeImage1">
    </launchConfigurationTypeImage>
 </extension>
 
 
 <extension point="org.eclipse.core.runtime.adapters">
		<factory adaptableType="eu.compassresearch.ide.ui.editor.core.CmlEditor"
			class="eu.compassresearch.ide.interpreter.debug.ui.model.CmlBreakpointAdapterFactory">
			<adapter type="org.eclipse.debug.ui.actions.IToggleBreakpointsTarget">
			</adapter>
		</factory>
	</extension>
 
 	<extension
        point="org.eclipse.ui.popupMenus">
     <viewerContribution
           id="eu.compassresearch.ide.interpreter.ui.RulerBarPopupActions"
           targetID="eu.compassresearch.ide.ui.editor.RulerContext">
        <action
              class="org.eclipse.debug.ui.actions.RulerToggleBreakpointActionDelegate"
              icon="icons/cview16/brkp_obj.gif"
              id="eu.compassresearch.ide.interpreter.ui.ToggleBreakpointRuler"
              label="Toggle Breakpoint"
              menubarPath="additions">
        </action>
     </viewerContribution>
  </extension>
  
  
    <!-- Enables double click on ruler for breakpoint creation -->
	 <extension
         point="org.eclipse.ui.editorActions">
      <editorContribution
            targetID="eu.compassresearch.ide.ui.editor"
            id="eu.compassresearch.ide.ui.editor.BreakpointRulerActions">
         <action
               actionID="RulerDoubleClick"
               class="org.eclipse.debug.ui.actions.RulerToggleBreakpointActionDelegate"
               id="org.overture.ide.debug.ui.actions.ManageBreakpointRulerAction"
               label="%AddBreakpoint.label"
               style="toggle">
         </action>
         
      </editorContribution>
	</extension>
	
	
	
	
		<!-- source locator -->
	<extension point="org.eclipse.debug.core.sourceLocators">
		<sourceLocator
			class="eu.compassresearch.ide.interpreter.launching.CmlSourceLocatorDirector"
			id="eu.compassresearch.ide.interpreter.sourceLocator" 
			name="Cml Source Locator">
		</sourceLocator>
	</extension>
	<extension point="org.eclipse.debug.core.sourcePathComputers">
		<sourcePathComputer
			class="eu.compassresearch.ide.interpreter.launching.CmlSourcePathComputerDelegate"
			id="eu.compassresearch.ide.interpreter.sourcePathComputer">
		</sourcePathComputer>
	</extension>
	<extension point="org.eclipse.debug.ui.debugModelPresentations">
		<debugModelPresentation
			class="eu.compassresearch.ide.interpreter.model.CmlDebugModelPresentation" 
			id="eu.compassresearch.ide.interpreter.modelId">
		</debugModelPresentation>
	</extension>
	
	
	<!-- Breakpoints -->

	<extension point="org.eclipse.debug.core.breakpoints">
		<breakpoint class="eu.compassresearch.ide.interpreter.debug.ui.model.CmlLineBreakpoint"
					id="eu.compassresearch.ide.interpreter.breakpoint" 
					markerType="cml.lineBreakpoint.marker"
					name="Cml Line Breakpoint">
		</breakpoint>
	</extension>
	<!-- breakpoint marker -->
	<extension id="cml.lineBreakpoint.marker" 
			   point="org.eclipse.core.resources.markers">
		<super type="org.eclipse.debug.core.lineBreakpointMarker"></super>
		<persistent value="true">
		</persistent>
	</extension>
</plugin>
