<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>

<plugin>
	<!-- For possible extension points see
 
  http://help.eclipse.org/indigo/index.jsp?
  topic=%2Forg.eclipse.platform.doc.isv%2Freference%2Fextension-points%2Findex.html

  -->
	<!--icon="icons/cview16/cml_file_tsk.png"-->
	<extension point="org.eclipse.ui.views">
		<view 
        id="eu.compassresearch.ide.plugins.interpreter.OptionsView"
        name="CML Event Options"
        category="eu.compassresearch.ide.ui.category"

        class="eu.compassresearch.ide.plugins.interpreter.views.CmlEventOptionView" />

		<category
        	id="eu.compassresearch.ide.ui.category"
        	name="COMPASS"/>
	</extension>

	<extension point="org.eclipse.ui.views">
		<view 
        id="eu.compassresearch.ide.plugins.interpreter.historyView"
        name="Observable Event History"
        category="eu.compassresearch.ide.ui.category"

        class="eu.compassresearch.ide.plugins.interpreter.views.CmlEventHistoryView" />

		<category
        	id="eu.compassresearch.ide.ui.category"
        	name="COMPASS"/>
	</extension>

	<!-- Declare launch configuration type -->
	<extension point="org.eclipse.debug.core.launchConfigurationTypes">
		<launchConfigurationType
        delegate="eu.compassresearch.ide.plugins.interpreter.launch.CmlLaunchConfigurationDelegate"
        id="eu.compassresearch.ide.plugins.interpreter.launchConfigurationType"
        modes="debug,run"
        name="CML Model"
        public="true"
        sourceLocatorId="eu.compassresearch.ide.plugins.interpreter.sourceLookupDirector">
		</launchConfigurationType>
	</extension>

	<extension point="org.eclipse.debug.core.sourceLocators">
		<sourceLocator
	       name="CML Source Lookup Director"
	    class="eu.compassresearch.ide.plugins.interpreter.launch.CmlSourceLookupDirector"
	    id="eu.compassresearch.ide.plugins.interpreter.sourceLookupDirector">
		</sourceLocator>
	</extension>

	<!-- Add the launch config group to the launch dialog -->
	<extension point="org.eclipse.debug.ui.launchConfigurationTabGroups">
		<launchConfigurationTabGroup
			class="eu.compassresearch.ide.plugins.interpreter.launch.CmlLaunchConfigurationTabGroup"
			description="COMPASS Launch Tab" 
			id="eu.compassresearch.ide.plugins.interpreter.launchConfigurationTabGroup"
			type="eu.compassresearch.ide.plugins.interpreter.launchConfigurationType">
			<launchMode 
                  mode="debug"
                  perspective="org.eclipse.debug.ui.DebugPerspective"
                  description="Debug CML Model">
			</launchMode>
			<launchMode
                  mode="run"
                  description="Run CML Model">
			</launchMode>
		</launchConfigurationTabGroup>
	</extension>

	<!-- Shoutcut for launching project. Extends the Debug and Run context menu in the CML Explorer -->
	<extension point="org.eclipse.debug.ui.launchShortcuts">
		<shortcut
	  		id="eu.compassresearch.ide.plugins.interpreter.CmlShortcut"
	        class="eu.compassresearch.ide.plugins.interpreter.launch.CmlApplicationLaunchShortcut"
	        label="CML Application"
	        modes="debug, run"
	        category="compass_eu.compassresearch.ide.ui.category"
	        description="Launch a CML model">
			<description
	     description="Runs a local CML model"
	     mode="run">
			</description>
			<description
		     description="Debugs a local CML model"
		     mode="debug">
			</description>
			<contextualLaunch>
				<contextLabel mode="run" label="Run CML model" />
				<contextLabel mode="debug" label="Debug CML model" />
				<enablement >
					<with variable="selection">
						<count value="1"/>
						<iterate>
							<adapt type="org.eclipse.core.resources.IResource">
								<and>
									 <test property="org.eclipse.core.resources.contentTypeId" 
           	    	value="eu.compassresearch.ide.core.content-type-cml"/>
								</and>
							</adapt>
						</iterate>
					</with>
				</enablement>
			</contextualLaunch>
			<configurationType
	    	id="eu.compassresearch.ide.plugins.interpreter.launchConfigurationType">
			</configurationType>
		</shortcut>
	</extension>



	<!--

		add breakpoint actionsSet to the OverturePerspective (this is the menu
		-> run -> (toggle breakpoint, remove all breakpoints, etc)
	-->
	<extension point="org.eclipse.ui.perspectiveExtensions">
		<perspectiveExtension targetID="eu.compassresearch.ide.ui.perspective">
			<actionSet id="org.eclipse.debug.ui.breakpointActionSet"/>
			<actionSet
         id="org.eclipse.debug.ui.launchActionSet">
			</actionSet>
		</perspectiveExtension>
	</extension>





	<!-- place the CML debug views in the right folders in the debug perspecives -->

	<extension point="org.eclipse.ui.perspectiveExtensions">
		<perspectiveExtension 
	targetID="org.eclipse.debug.ui.DebugPerspective">

			<view id="eu.compassresearch.ide.plugins.interpreter.historyView" 
        	relative="org.eclipse.debug.ui.ExpressionView" 
    		relationship="stack"/>	

			<view id="eu.compassresearch.ide.plugins.interpreter.OptionsView" 
        	relative="org.eclipse.ui.views.ContentOutline" 
    		relationship="stack"/>	


		</perspectiveExtension> 
	</extension>
</plugin>
