<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>

<plugin>
  <!-- For possible extension points see
 
  http://help.eclipse.org/indigo/index.jsp?
  topic=%2Forg.eclipse.platform.doc.isv%2Freference%2Fextension-points%2Findex.html

  -->
   <!-- 
     <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="eu.compassresearch.ide.ui.actionSet"
            label="Theorem Prover Basic Action Set"
            visible="true">

         <action
               class="eu.compassresearch.ide.theoremprover.TPBasicAction"
               icon="icons/thy_action.png"
               id="eu.compassresearch.ide.theoremprover.TPBasicAction"
               label="&amp;THY"
               toolbarPath="THYGroup"
               tooltip="Generate THYs for open file">
         </action>
      </actionSet>
   </extension>
  -->
  
  
  <extension
      point="org.eclipse.ui.commands">
   <command
         defaultHandler="eu.compassresearch.ide.theoremprover.commands.DischargePosHandler"
         id="eu.compassresearch.ide.theoremprover.dischargepos"
         name="DischargePOs">
   </command>
</extension>

	<extension
            point="org.eclipse.ui.commands">
		<command
        defaultHandler="eu.compassresearch.ide.theoremprover.commands.GenerateThyHandler"
        id="eu.compassresearch.ide.theoremprover.generatethy"
        name="GenerateThy">
		</command>
	</extension>
  
  <extension
      point="org.eclipse.ui.menus">
		<menuContribution
         allPopups="false"
         locationURI="popup:eu.compassresearch.ide.ui.CmlNavigator">
			<menu
              id="eu.compassresearch.ide.theoremprover"
              icon="icons/thy_action.png"
              label="CML-THY">
				<command
              	  commandId="eu.compassresearch.ide.theoremprover.generatethy"
              	  label="Generate Theorem Prover THY"
              	  style="push"
              	  tooltip="Generate Theorem Prover file for selected Project">
				</command>
			  	<visibleWhen>
					<iterate ifEmpty="false" >
						<or>
							<adapt type="org.eclipse.core.resources.IProject">
 								<test
                	  	  		  property="org.eclipse.core.resources.projectNature"
               		  	  		  value="eu.compassresearch.ide.core.cmlnature">
								</test>
							</adapt>
							<test
                  	  		  forcePluginActivation="true"
                  	  		  property="org.overture.ide.core.resources.dialect"
                  	  		  value="CML">
							</test>
						</or>
					</iterate>
			  	</visibleWhen>
			</menu>
		</menuContribution>
	</extension>
  
  
  <extension
      point="org.eclipse.ui.menus">
   <menuContribution
         allPopups="false"
         locationURI="toolbar:eu.compassresearch.ide.pogplugin.POsTable">
      <command
            commandId="eu.compassresearch.ide.theoremprover.dischargepos"
            icon="icons/tp.png"
            label="Discharge"
            style="push"
            tooltip="Send POs to Theorem Prover">
      </command>
   </menuContribution>
</extension>
  
</plugin>
