<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>

<plugin>
  <!-- For possible extension points see
 
  http://help.eclipse.org/indigo/index.jsp?
  topic=%2Forg.eclipse.platform.doc.isv%2Freference%2Fextension-points%2Findex.html

  -->
  
  <!-- SET OF EXTENSIONS FOR LAUCH CONFIG -->
     <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="eu.compassresearch.ide.theoremprover.isabellelaunch.IsabelleSetupPreferencePage"
            id="eu.compassresearch.ide.theoremprover.isabellelaunch.setuppage"
            name="Theorem Prover Setup">
      </page>
   </extension>
  

 <extension
      point="org.eclipse.ui.commands">
   <command
         defaultHandler="eu.compassresearch.ide.theoremprover.commands.DischargePosHandler"
         id="eu.compassresearch.ide.theoremprover.dischargepos"
         name="DischargePOs">
         <commandParameter
               id="eu.compassresearch.ide.theoremprover.commands.needproj"
               name="Need"
               optional="false">
         </commandParameter>
   </command>
   <command
          defaultHandler="eu.compassresearch.ide.theoremprover.commands.LaunchIsabelleHandler"
          id="eu.compassresearch.ide.theoremprover.isabellelaunchcommand"
          name="LaunchIsabelle">
     </command>
   <command
          defaultHandler="eu.compassresearch.ide.theoremprover.commands.TPCollectorHandler"
          id="eu.compassresearch.ide.theoremprover.tpCollectorCommand"
          name="Test Theorem Prover Compatibility">
   </command>
   <command
        defaultHandler="eu.compassresearch.ide.theoremprover.commands.GenerateThyHandler"
        id="eu.compassresearch.ide.theoremprover.generatethy"
        name="GenerateThy">
	</command>
   <command
        defaultHandler="eu.compassresearch.ide.theoremprover.commands.ConfigHandler"
        id="eu.compassresearch.ide.theoremprover.config"
        name="ConfigHandler">
	</command>
</extension>

  
  
<extension
      point="org.eclipse.ui.menus">
   <menuContribution
         allPopups="false"
         locationURI="menu:org.eclipse.ui.main.menu">
         <menu
           id ="eu.compassresearch.ide.isabellelaunch"
           label ="Theorem Prover">
           <command
           		commandId="eu.compassresearch.ide.theoremprover.config"
            	label="Setup Theorem Prover Configuration"
           		style="push">
      		</command>
      		<command
           		commandId="eu.compassresearch.ide.theoremprover.isabellelaunchcommand"
            	label="Launch Theorem Prover"
           		style="push">
      		</command>
      	</menu>
   </menuContribution>
   
   <menuContribution
         allPopups="false"
         locationURI="toolbar:eu.compassresearch.ide.pog.POsTable">
      <command
            commandId="eu.compassresearch.ide.theoremprover.dischargepos"
            icon="icons/tp.png"
            label="Discharge"
            style="push"
            tooltip="Regenerate POs and export to Theorem Prover">
            <parameter
                  name="eu.compassresearch.ide.theoremprover.commands.needproj"
                  value="no">
            </parameter>
      </command>
   </menuContribution>
   
   <menuContribution
         allPopups="false"
         locationURI="toolbar:eu.compassresearch.ide.pog.POsTable">

   </menuContribution>
   
		<menuContribution
         allPopups="false"
         locationURI="popup:eu.compassresearch.ide.ui.CmlNavigator">
			<menu
              id="eu.compassresearch.ide.theoremprover"
              icon="icons/thy_action.png"
              label="CML-THY">
               <command
	                  commandId="eu.compassresearch.ide.theoremprover.tpCollectorCommand"
	                  id="eu.compassresearch.ide.tehoremprover.tpCollectorCommand"
	                  style="push"
	                  label="Check TP compatibility"
	                  tooltip="Test compatibility of model with theorem prover.">
            	</command>
            	
            	 <separator
                       name="eu.compassresearch.ide.theoremprover.separator"
                        visible="true">
                  </separator>
                  
              
          	<command
	            commandId="eu.compassresearch.ide.theoremprover.dischargepos"
    	        icon="icons/tp.png"
        	    label="Generate POs and Theories."
            	style="push"
            	tooltip="Generate Proof Obligations Theorem Prover files for selected Project.">
           <parameter
                  name="eu.compassresearch.ide.theoremprover.commands.needproj"
                  value="yes">
            </parameter>
      		</command>
                  
				<command
              	  commandId="eu.compassresearch.ide.theoremprover.generatethy"
              	  label="Generate Theorem Prover THY"
              	  style="push"
              	  tooltip="Generate Theorem Prover file for selected Project">
				</command>
			  	<visibleWhen>
					<iterate ifEmpty="false" >
						<or>
							<adapt type="org.eclipse.core.resources.IProject">
 								<test
                	  	  		  property="org.eclipse.core.resources.projectNature"
               		  	  		  value="eu.compassresearch.ide.core.cmlnature">
								</test>
							</adapt>
							<test
                  	  		  forcePluginActivation="true"
                  	  		  property="org.overture.ide.core.resources.dialect"
                  	  		  value="CML">
							</test>
						</or>
					</iterate>
			  	</visibleWhen>
			</menu>
		</menuContribution>
	</extension>
  
  
</plugin>
