<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
  <extension
      id="eu.compassresearch.ide.platform.product"
      point="org.eclipse.core.runtime.products">
    <product
        application="org.eclipse.ui.ide.workbench"
        name="The Symphony IDE">
      <property
          name="aboutText"
          value="%aboutText">
      </property>
      <property
            name="aboutImage"
            value="icons/aboutboximg.png">
      </property> 
      <property
          name="startupProgressRect"
          value="12,256,476,12">
      </property>
      <property
            name="startupMessageRect"
            value="12,270,476,20">
      </property>
      <property
            name="appName"
            value="The Symphony IDE">
      </property>
      <property
            name="preferenceCustomization"
            value="plugin_customization.ini">
      </property>
      
      <property
	  name="startupForegroundColor"
	  value="FFFFFF">
      </property>
      <property
	  name="windowImages"
	  value="icons/symphony_icon.png">
      </property>
    </product>
  </extension>

  <extension
      point="org.eclipse.ui.intro">
    <intro
        class="org.eclipse.ui.intro.config.CustomizableIntroPart"
        id="eu.compassresearch.ide.platform.intro">
    </intro>
    <introProductBinding
        introId="eu.compassresearch.ide.platform.intro"
        productId="eu.compassresearch.ide.platform.product">
    </introProductBinding>
  </extension>
  <extension
      point="org.eclipse.ui.intro.config">
    <config
        content="introContent.xml"
        id="eu.compassresearch.ide.platform.introConfigId"
        introId="eu.compassresearch.ide.platform.intro">
      <presentation
          home-page-id="root">
        <implementation
            kind="html"
            os="win32,linux,macosx"
            >
        </implementation>
      </presentation>
    </config>
  </extension>
  
  <extension
      point="org.eclipse.ui.splashHandlers">
    <splashHandler
        class="eu.compassresearch.ide.platform.splash.SplashHandler"
        id="eu.compassresearch.ide.platform.splash">
    </splashHandler>
    <splashHandlerProductBinding
        productId="eu.compassresearch.ide.platform.product"
        splashId="eu.compassresearch.ide.platform.splash">
    </splashHandlerProductBinding>
  </extension>

</plugin>
