<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         id="eu.compassresearch.ide.cml.platform.product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.ui.ide.workbench"
            name="CML Compass Project">
         <property
               name="appName"
               value="CML Compass Project">
         </property>
               <property
             name="aboutText"
             value="Please submit any bugs to http://sourceforge.net/p/compassresearch/tickets/">
       </property>
       <property
             name="aboutImage"
             value="/icons/aboutboximg.png">
       </property> 
          <property
             name="startupProgressRect"
             value="20,235,415,10">
	  </property>
	  <property
	      name="startupMessageRect"
	      value="75,250,300,15">
	  </property>
	  <property
	      name="appName"
	      value="COMPASS Tools">
	  </property>
	  <property
	      name="preferenceCustomization"
	      value="plugin_customization.ini">
	  </property>



      
      <property
	      name="startupForegroundColor"
	      value="FFFFFF">
	  </property>
	  <property
	  	name="windowImages"
	  	value="icons/compassToolIcon.png">
	  </property>
      </product>
   </extension>

       <extension
         point="org.eclipse.ui.intro">
      <intro
            class="org.eclipse.ui.intro.config.CustomizableIntroPart"
            id="eu.compassresearch.ide.cml.platform.intro">
      </intro>
      <introProductBinding
            introId="eu.compassresearch.ide.cml.platform.intro"
            productId="eu.compassresearch.ide.cml.platform.product">
      </introProductBinding>
   </extension>
   <extension
         point="org.eclipse.ui.intro.config">
      <config
            content="introContent.xml"
            id="eu.compassresearch.ide.cml.platform.introConfigId"
            introId="eu.compassresearch.ide.cml.platform.intro">
         <presentation
               home-page-id="root">
            <implementation
                  kind="html"
                  os="win32,linux,macosx"
                  >
            </implementation>
         </presentation>
      </config>
   </extension>
  
 <extension
         point="org.eclipse.ui.splashHandlers">
      <splashHandler
            class="eu.compassresearch.ide.platform.splash.SplashHandler"
            id="eu.compassresearch.ide.platform.splash">
      </splashHandler>
      <splashHandlerProductBinding
            productId="eu.compassresearch.ide.platform.splash"
            splashId="eu.compassresearch.ide.platform.splash">
      </splashHandlerProductBinding>
   </extension>
 <extension
       id="product"
       point="org.eclipse.core.runtime.products">
    <product
          application="org.eclipse.ui.ide.workbench"
          name="CML Compass Project">
       <property
             name="startupForegroundColor"
             value="7F7F7F">
       </property>
       <property
             name="startupProgressRect"
             value="0,0,300,20">
       </property>
       <property
             name="startupMessageRect"
             value="75,200,300,15">
       </property>
       <property
             name="appName"
             value="CML Compass Project">
       </property>
       <property
             name="preferenceCustomization"
             value="plugin_customization.ini">
       </property>
       <property
             name="aboutImage"
             value="icons/aboutboximg.png">
       </property>
       <property
             name="aboutText"
             value="Learn more about COMPASS Research at http://www.compass-research.eu">
       </property>
       <property
             name="windowImages"
             value="icons/icon16.png,icons/icon32.png,icons/icon64.png">
       </property>
    </product>
 </extension>
 <extension
       id="product"
       point="org.eclipse.core.runtime.products">
    <product
          application="org.eclipse.ui.ide.workbench"
          name="CML Compass Project">
       <property
             name="startupForegroundColor"
             value="7F7F7F">
       </property>
       <property
             name="startupProgressRect"
             value="0,0,300,20">
       </property>
       <property
             name="startupMessageRect"
             value="75,200,300,15">
       </property>
       <property
             name="preferenceCustomization"
             value="plugin_customization.ini">
       </property>
    </product>
 </extension>
 <extension
       id="product"
       point="org.eclipse.core.runtime.products">
    <product
          application="org.eclipse.ui.ide.workbench"
          name="CML Compass Project">
       <property
             name="startupForegroundColor"
             value="7F7F7F">
       </property>
       <property
             name="startupProgressRect"
             value="0,0,300,20">
       </property>
       <property
             name="startupMessageRect"
             value="75,200,300,15">
       </property>
       <property
             name="preferenceCustomization"
             value="plugin_customization.ini">
       </property>
    </product>
 </extension>

 
</plugin>
