<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="4.2"?>

<plugin>


	<extension
         point="org.eclipse.ui.perspectives">
		<perspective
            class="eu.compassresearch.ide.pog.PerspectiveFactory"
            icon="icons/cview16/pog_gen.png"
            id="eu.compassresearch.ide.pog.pog-perspective"
            name="POG">
		</perspective>
	</extension>
	<extension
         point="org.eclipse.ui.perspectiveExtensions">
		<perspectiveExtension
            targetID="eu.compassresearch.ide.pog.pog-perspective">
			<view
               id="eu.compassresearch.ide.ui.CmlNavigator"
               minimized="false"
               ratio="0.25"
               relationship="left"
               relative="org.eclipse.ui.editorss"
               visible="true">
			</view>
			<view
               id="eu.compassresearch.ide.pog.POsTable"
               minimized="false"
               ratio="0.60"
               relationship="right"
               relative="org.eclipse.ui.editorss"
               visible="true">
			</view>
			<view
               id="eu.compassresearch.ide.pog.PoDetail"
               minimized="false"
               ratio="0.50"
               relationship="bottom"
               relative="eu.compassresearch.ide.pog.POsTable"
               visible="true">
			</view>
		</perspectiveExtension>
	</extension>




	<extension
         point="org.eclipse.ui.views">
		<category
			id="eu.compassresearch.ide.ui.category"
			name="Symphony"/>
		<view
            category="eu.compassresearch.ide.ui.category"
            class="eu.compassresearch.ide.pog.view.PoDetailView"
            icon="icons/cview16/po_tsk.png"
            id="eu.compassresearch.ide.pog.PoDetail"
            name="CML PO Details">
		</view>
		<view
            category="eu.compassresearch.ide.ui.category"
            class="eu.compassresearch.ide.pog.view.PoListView"
            icon="icons/cview16/po_tsk.png"
            id="eu.compassresearch.ide.pog.POsTable"
            name="CML PO List">
		</view>


	</extension>
	<extension
      point="org.eclipse.ui.perspectives">
		<perspective
         class="org.overture.ide.plugins.poviewer.ProofObligationPerspectiveFactory"
         icon="icons/cview16/po_tsk.png"
         id="org.overture.ide.plugins.poviewer.perspective"
         name="Proof Obligation">
		</perspective>
	</extension>




	<extension
            point="org.eclipse.ui.commands">
		<command
         id="eu.compassresearch.ide.pog.generatepos"
         name="GeneratePOs">
		</command>
	</extension>



	<extension
      point="org.eclipse.ui.menus">
		<menuContribution
         allPopups="false"
         locationURI="popup:eu.compassresearch.ide.ui.CmlNavigator">
			<menu
              id="eu.compassresearch.ide.pog"
              icon="icons/cview16/pog_gen.png"
              label="CML-POG">
				<command
            commandId="eu.compassresearch.ide.pog.generatepos"
            label="Generate Proof Obligations"
            style="push"
            tooltip="Generate Proof Obligations for selected Project">
				</command>
				<visibleWhen>
					<iterate ifEmpty="false" >
						<or>
							<adapt type="org.eclipse.core.resources.IProject">

								<test
                       property="org.eclipse.core.resources.projectNature"
                       value="eu.compassresearch.ide.core.cmlnature">
								</test>
							</adapt>
							<test
                                forcePluginActivation="true"
                                property="org.overture.ide.core.resources.dialect"
                                value="CML">
							</test>
						</or>
					</iterate>
				</visibleWhen>
			</menu>
		</menuContribution>
	</extension>





	<extension
      point="org.eclipse.ui.handlers">
		<handler
   class ="eu.compassresearch.ide.pog.commands.GeneratePosHandler"
         commandId="eu.compassresearch.ide.pog.generatepos">
		</handler>
	</extension>





</plugin>
