<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>

<plugin>


   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="eu.compassresearch.ide.cml.ui.perspective.CmlPerspectiveFactory"
            icon="icons/cview16/compass_nav.png"
            id="eu.compassresearch.ide.ui.perspective"
            name="%CmlPerspectiveName">
         <description>
            %CmlPerspectiveDescription
         </description>
      </perspective>
   </extension>

   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="eu.compassresearch.ide.ui.perspective">
         <view
               id="eu.compassresearch.ide.ui.CmlNavigator"
               minimized="false"
               ratio="0.25"
               relationship="left"
               relative="org.eclipse.ui.editorss">
         </view>
      </perspectiveExtension>
   </extension>


   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="eu.compassresearch.ide.cml.ui.editor.core.CmlEditor"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            default="true"
            icon="icons/cview16/cml_file_tsk.png"
            id="eu.compassresearch.ide.cml.ui.editor"
            name="CML Editor">
         <contentTypeBinding
               contentTypeId="eu.compassresearch.ide.cml.core.content-type1">
         </contentTypeBinding>
      </editor>
   </extension>
   
   <extension
         point="org.eclipse.ui.newWizards">
      
      <wizard
            category="compass_eu.compassresearch.ide.cml.ui.category"
            class="eu.compassresearch.ide.cml.ui.wizard.NewCmlFileWizard"
            icon="icons/cview16/cml_file_tsk.png"
            id="eu.compassresearch.ide.cml.ui.newcmlfilewizard"
            name="CML File">
      </wizard>
       <primaryWizard id="eu.compassresearch.ide.cml.ui.newcmlfilewizard" />
      
      <wizard
            category="compass_eu.compassresearch.ide.cml.ui.category"
            class="eu.compassresearch.ide.cml.ui.wizard.NewCmlProjectWizard"
            finalPerspective="eu.compassresearch.ide.ui.perspective"
            icon="icons/cview16/cml_file_tsk.png"
            id="eu.compassresearch.ide.CmlProjectWizard"
            name="%newProjectWizardName"
            preferredPerspectives="eu.compassresearch.ide.ui.perspective"
            project="true">

      </wizard>
        <primaryWizard id="eu.compassresearch.ide.CmlProjectWizard" />
      
       <wizard
            category="compass_eu.compassresearch.ide.cml.ui.category"
            class="eu.compassresearch.ide.cml.ui.wizard.NewCmlClassWizard"
            icon="icons/cview16/cml_file_tsk.png"
            id="eu.compassresearch.ide.cml.ui.newcmlclasswizard"
            
            name="CML Class">
      </wizard>
      
      
       <wizard
            category="compass_eu.compassresearch.ide.cml.ui.category"
            class="eu.compassresearch.ide.cml.ui.wizard.NewCmlProcessWizard"
            icon="icons/cview16/cml_file_tsk.png"
            id="eu.compassresearch.ide.cml.ui.newcmlprocesswizard"
            name="CML Process">
      </wizard>
      
      
      <category
            id="compass_eu.compassresearch.ide.cml.ui.category"
            name="COMPASS">
      </category>

   </extension>


<!-- Defining the CML Project Explorer -->
	<extension
			point="org.eclipse.ui.views">
		<category
			id="eu.compassresearch.ide.ui.category"
			name="COMPASS"/>
		<view
			category="eu.compassresearch.ide.ui.category"
			allowMultiple="false"
			class="org.eclipse.ui.navigator.CommonNavigator"
			icon="icons/cview16/compass_nav.png"
			id="eu.compassresearch.ide.ui.CmlNavigator"
			name="%CmlExplorerName"/>
	</extension>

	<extension 
			point="org.eclipse.ui.navigator.viewer">
   
        
        

       <viewerContentBinding
             viewerId="eu.compassresearch.ide.ui.CmlNavigator">
          <includes>
            <contentExtension
                   pattern="eu.compassresearch.ide.ui.cmlNavigatorContent">
            </contentExtension>
         	<contentExtension pattern="org.eclipse.ui.navigator.resourceContent" />		       	      
	     	<contentExtension pattern="org.eclipse.ui.navigator.resources.filters.*"/>
	     	<contentExtension pattern="org.eclipse.ui.navigator.resources.linkHelper"/>
           <contentExtension pattern="org.eclipse.ui.navigator.resources.workingSets"/>
          </includes>
       </viewerContentBinding>
               
               
      <viewerActionBinding
             viewerId="eu.compassresearch.ide.ui.CmlNavigator">
          <includes>
             <actionExtension
                   pattern="org.eclipse.ui.navigator.resources.*">
             </actionExtension>
          </includes>
       </viewerActionBinding>
               
   </extension>
   
   


  <extension
         point="org.eclipse.ui.navigator.navigatorContent">
         
      <navigatorContent 
            id="eu.compassresearch.ide.ui.cmlNavigatorContent" 
            name="CMLNavigator"
            contentProvider="eu.compassresearch.ide.cml.ui.navigator.CmlContentProvider"
            labelProvider="eu.compassresearch.ide.cml.ui.navigator.CmlLabelProvider" 
            activeByDefault="true"
            icon="icons/cview16/compass_nav.png"
            priority="highest" >
                  
  			<triggerPoints>
            <or>
               <instanceof
                     value="org.eclipse.core.resources.IProject">
               </instanceof>
               <instanceof
                     value="org.eclipse.core.resources.IResource">
               </instanceof>
            </or>
            </triggerPoints>
            <possibleChildren>
                <or>
                    <instanceof value="org.eclipse.core.resources.IResource" />
                </or>
            </possibleChildren> 
            
            
      </navigatorContent>      
      
   </extension>



   <extension
         point="org.eclipse.ui.ide.projectNatureImages">
      <image
            icon="icons/ovr16/cml_ovr.gif"
            id="eu.compassresearch.ide.cml.cml-ui.cmlnature.image"
            natureId="eu.compassresearch.ide.cml.ui.cmlnature">
      </image>
   </extension>
   
 <!-- Not really using this anymore 
    <extension point="org.eclipse.ui.views">
    <view 
        id="eu.compassresearch.ide.cml.ui.Sanitizer"
        name="COMPASS UI Debug Sanitizer"
        category="compass_eu.compassresearch.ide.cml.ui.category"
        icon="icons/cview16/cml_file_tsk.png"
        class="eu.compassresearch.ide.cml.ui.Sanitizer" />
  </extension>
   -->
   
      <extension
         id="cmlnature"
         name="CML Project Nature"
         point="org.eclipse.core.resources.natures">
         <runtime>
            <run class ="eu.compassresearch.ide.cml.ui.builder.CmlProjectNature" />
         </runtime>
     </extension>
   

   <extension
         point="org.overture.ide.core.parsePaticipant">
      <parser
            class="eu.compassresearch.ide.cml.ui.editor.core.SourceParserCml"
            nature="eu.compassresearch.ide.cml.ui.cmlnature">
      </parser>
   </extension>
   <extension
         point="org.overture.ide.core.buildParticipant">
      <builder
            class="eu.compassresearch.ide.cml.ui.builder.BuilderCml"
            nature="eu.compassresearch.ide.cml.ui.cmlnature">
      </builder>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.overture.ide.core.resources.IVdmSourceUnit"
            class="eu.compassresearch.ide.cml.ui.adapters.CmlSourceUnitAdapterFactory">
         <adapter
               type="eu.compassresearch.ide.cml.ui.editor.core.dom.CmlSourceUnit">
         </adapter>
      </factory>
   </extension>



   
  
   
   
</plugin>
